@charset "CP850";
@import url(http://fonts.googleapis.com/css?family=Denk+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,600,700,900,300italic);
/**
*	Creation form Bourbon Neats
*	@miguelangelramos
*/
/* manual bourbon con redbull;)
section { @include outer-container;aside { @include span-columns(3); }article { @include span-columns(9); }}
 li{@include span-columns(4);@include omega(3n);list-style:none;}
 .ma8{@include span-columns(3);@include omega(3n);background-color:pink;}
 @include span-columns( 2 of 4); 
 
 http://www.colourlovers.com/palette/75267/ROE
 <p>http://www.1stwebdesigner.com/design/build-useful-coming-soon-page/</p>
<p>http://favmovie.net/</p>
 
*/
/* line 2, ../neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Import code sintax _syntax*/
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
/* line 8, ../sass/_syntax.scss */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* line 27, ../sass/_syntax.scss */
::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

/* line 32, ../sass/_syntax.scss */
::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  /* line 39, ../sass/_syntax.scss */
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
/* line 45, ../sass/_syntax.scss */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* line 52, ../sass/_syntax.scss */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  /* #FEFA83  #f5f2f0 #FFFBEA #FEFA83;*/
  background: #FEFA83;
  border: 1px solid #d2caa7;
}

/* Inline code */
/* line 63, ../sass/_syntax.scss */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

/* line 71, ../sass/_syntax.scss */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

/* line 75, ../sass/_syntax.scss */
.token.punctuation {
  color: #999;
}

/* line 79, ../sass/_syntax.scss */
.namespace {
  opacity: .7;
}

/* line 86, ../sass/_syntax.scss */
.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905;
}

/* line 92, ../sass/_syntax.scss */
.token.selector,
.token.attr-name,
.token.string {
  color: #690;
}

/* line 100, ../sass/_syntax.scss */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

/* line 107, ../sass/_syntax.scss */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

/* line 113, ../sass/_syntax.scss */
.token.regex,
.token.important {
  color: #e90;
}

/* line 117, ../sass/_syntax.scss */
.token.important {
  font-weight: bold;
}

/* line 121, ../sass/_syntax.scss */
.token.entity {
  cursor: help;
}

/* line 124, ../sass/_syntax.scss */
pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

/* line 129, ../sass/_syntax.scss */
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  /* Same as .prism’s padding-top */
  background: rgba(153, 122, 102, 0.08);
  background: -moz-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: -webkit-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: -o-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: linear, left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0);
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

/* line 149, ../sass/_syntax.scss */
.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .4em;
  left: .6em;
  min-width: 1em;
  padding: 0 0.5em;
  background-color: rgba(153, 122, 102, 0.4);
  color: #f5f2f0;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px white;
}

/* line 166, ../sass/_syntax.scss */
.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em;
}

/* line 171, ../sass/_syntax.scss */
pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

/* line 177, ../sass/_syntax.scss */
pre.line-numbers > code {
  position: relative;
}

/* line 181, ../sass/_syntax.scss */
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 198, ../sass/_syntax.scss */
.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

/* line 204, ../sass/_syntax.scss */
.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

/*web-fonts*/
/**
* 	Palette colors
*	http://www.colourlovers.com/palette/148712/Gamebookers
*   vitamine c:#FF9900,Routte 66:#424242, staday grey:#e9e9e9, 
*	bc:#bcbcbc,Gamebookers Blue:#3299BB	 	
*/
/* line 64, ../sass/creation.scss */
html {
  /*1.4rem = 14px*/
  font-size: 100.5%;
  /*mida base per unitats rem*/
  /*Typography responsive*/
}
@media screen and (min-width: 481px) and (max-width: 959px) {
  /* line 64, ../sass/creation.scss */
  html {
    font-size: 53.5%;
  }
}

/* line 72, ../sass/creation.scss */
a {
  color: #f9ef9e;
  text-decoration: none;
}

/* line 73, ../sass/creation.scss */
a:hover {
  text-decoration: underline;
}

/* line 75, ../sass/creation.scss */
body {
  font-size: 1.0rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #424242;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

/* line 85, ../sass/creation.scss */
code {
  font-family: "Bitstream Vera Sans Mono",Consolas,Courier,monospace;
  font-size: 0.8125em;
}

/**
*	Golden ratio typography
*	http://www.pearsonified.com/typography/
*/
/* line 90, ../sass/creation.scss */
p {
  line-height: 1.5rem;
}

/* line 91, ../sass/creation.scss */
h1, h2, h3, h4, h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
}

/* line 95, ../sass/creation.scss */
h1 {
  font-size: 6.85353rem;
  line-height: 4.9rem;
}

/* line 96, ../sass/creation.scss */
h2 {
  font-size: 4.2358rem;
  line-height: 4.3rem;
}

/* line 97, ../sass/creation.scss */
h3 {
  font-size: 2.61792rem;
  line-height: 2.4rem;
}

/* line 98, ../sass/creation.scss */
h4 {
  font-size: 1.618rem;
}

/* line 99, ../sass/creation.scss */
h5 {
  font-size: 1rem;
}
