/*
*
*
*
*/
/**
* 	Palette colors
*
*	http://www.colourlovers.com/palette/2978475/Deputation
*   Night Pencil + Magic + yummi-turquoise + J Peterman Shirt + winter morning
*	bc:#bcbcbc,Gamebookers Blue:#3299BB	 
*
*	Functions colors Sass:
*	http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html	
*/
/* Night Pencil */
/* Magic */
/* yummi-turquoise */
/* J Peterman Shirt */
/* winter morning */
/* Tonalitats */
/* Visual Grid Susy*/
/* line 23, ../sass/responsive-creation.scss */
html {
  /*Typography responsive for compass breakpoints*/
}
@media (max-width: 30em) {
  /* line 23, ../sass/responsive-creation.scss */
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 30em) and (max-width: 59em) {
  /* line 23, ../sass/responsive-creation.scss */
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 59.18em) {
  /* line 23, ../sass/responsive-creation.scss */
  html {
    font-size: 62.5%;
  }
}

/* line 31, ../sass/responsive-creation.scss */
#s8 {
  /*Container*/
  *zoom: 1;
  max-width: 72.2em;
  _width: 72.2em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  /*mobile first*/
}
/* line 38, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#s8:after {
  content: "";
  display: table;
  clear: both;
}
/* line 35, ../sass/responsive-creation.scss */
#s8 .header {
  background-color: #0083a9;
  /*omega = eliminar gutter-width*/
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
@media (min-width: 30em) and (max-width: 59em) {
  /* line 35, ../sass/responsive-creation.scss */
  #s8 .header {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 59.18em) {
  /* line 35, ../sass/responsive-creation.scss */
  #s8 .header {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}
/* line 41, ../sass/responsive-creation.scss */
#s8 .sidebar-1 {
  background-color: #ebebeb;
  width: 100%;
  float: left;
  margin-right: 3.38983%;
  display: inline;
}
@media (min-width: 30em) and (max-width: 59em) {
  /* line 41, ../sass/responsive-creation.scss */
  #s8 .sidebar-1 {
    width: 23.96122%;
    float: left;
    margin-right: 1.38504%;
  }
}
@media (min-width: 59.18em) {
  /* line 41, ../sass/responsive-creation.scss */
  #s8 .sidebar-1 {
    width: 24.2236%;
    float: left;
    margin-right: 1.0352%;
  }
}
/* line 46, ../sass/responsive-creation.scss */
#s8 .sidebar-2 {
  background-color: #ebebeb;
  width: 100%;
  float: left;
  margin-right: 3.38983%;
  display: inline;
}
@media (min-width: 30em) and (max-width: 59em) {
  /* line 46, ../sass/responsive-creation.scss */
  #s8 .sidebar-2 {
    width: 74.65374%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 59.18em) {
  /* line 46, ../sass/responsive-creation.scss */
  #s8 .sidebar-2 {
    width: 24.2236%;
    float: right;
    margin-right: 0;
  }
}
/* line 51, ../sass/responsive-creation.scss */
#s8 .content {
  background-color: #00779a;
  /*omega = eliminar gutter-width*/
  width: 100%;
  float: left;
  margin-right: 3.38983%;
  display: inline;
}
@media (min-width: 30em) and (max-width: 59em) {
  /* line 51, ../sass/responsive-creation.scss */
  #s8 .content {
    width: 100%;
    float: left;
    margin-right: 1.38504%;
  }
}
@media (min-width: 59.18em) {
  /* line 51, ../sass/responsive-creation.scss */
  #s8 .content {
    width: 49.4824%;
    float: left;
    margin-right: 1.0352%;
  }
}
/* line 57, ../sass/responsive-creation.scss */
#s8 .footer {
  background-color: #014b60;
  /*omega = eliminar gutter-width*/
  padding-right: 20.67797%;
  padding-left: 20.67797%;
  width: 58.64407%;
  float: left;
  margin-right: 3.38983%;
  display: inline;
  /*responsive footer*/
}
@media (min-width: 30em) and (max-width: 59em) {
  /* line 57, ../sass/responsive-creation.scss */
  #s8 .footer {
    padding-right: 8.44875%;
    padding-left: 8.44875%;
    width: 83.10249%;
    float: left;
    margin-right: 1.38504%;
  }
}
@media (min-width: 59.18em) {
  /* line 57, ../sass/responsive-creation.scss */
  #s8 .footer {
    padding-right: 6.3147%;
    padding-left: 6.3147%;
    width: 87.3706%;
    float: left;
    margin-right: 1.0352%;
  }
}
/* line 64, ../sass/responsive-creation.scss */
#s8 .footer .footer-1 {
  background-color: #ebebeb;
  width: 100%;
  float: left;
  margin-right: 3.38983%;
  display: inline;
}
@media (min-width: 30em) and (max-width: 59em) {
  /* line 64, ../sass/responsive-creation.scss */
  #s8 .footer .footer-1 {
    width: 23.96122%;
    float: left;
    margin-right: 1.38504%;
  }
}
@media (min-width: 59.18em) {
  /* line 64, ../sass/responsive-creation.scss */
  #s8 .footer .footer-1 {
    width: 24.2236%;
    float: left;
    margin-right: 1.0352%;
  }
}
/* line 69, ../sass/responsive-creation.scss */
#s8 .footer .footer-3 {
  background-color: #ebebeb;
  width: 100%;
  float: left;
  margin-right: 3.38983%;
  display: inline;
}
@media (min-width: 30em) and (max-width: 59em) {
  /* line 69, ../sass/responsive-creation.scss */
  #s8 .footer .footer-3 {
    width: 23.96122%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 59.18em) {
  /* line 69, ../sass/responsive-creation.scss */
  #s8 .footer .footer-3 {
    width: 24.2236%;
    float: right;
    margin-right: 0;
  }
}
/* line 74, ../sass/responsive-creation.scss */
#s8 .footer .footer-2 {
  background-color: #ebebeb;
  width: 100%;
  float: left;
  margin-right: 3.38983%;
  display: inline;
}
@media (min-width: 30em) and (max-width: 59em) {
  /* line 74, ../sass/responsive-creation.scss */
  #s8 .footer .footer-2 {
    width: 49.30748%;
    float: left;
    margin-right: 1.38504%;
  }
}
@media (min-width: 59.18em) {
  /* line 74, ../sass/responsive-creation.scss */
  #s8 .footer .footer-2 {
    width: 49.4824%;
    float: left;
    margin-right: 1.0352%;
  }
}
