/**
 * @file
 * Creation for compass - Front-end framework de  la Diputació de Tarragona.
 * @Miguel Ángel Ramos.
 */
@import "compass/css3";
@import "compass/utilities";
@import "_syntax";

/**
* 	Palette colors
*	http://www.colourlovers.com/palette/2978475/Deputation
*   Night Pencil + magic + yummi-turquoise + J Peterman Shirt + winter morning
*	bc:#bcbcbc,Gamebookers Blue:#3299BB	 	
*/

$gray:#464646; /* Night Pencil */
$blue1:#014B60;/* Magic */
$blue:#0083A9;/* yummi-turquoise */
$blue2:#F0F7F9;/* J Peterman Shirt */
$eb:#EBEBEB;/* winter morning */

/**
*	Typografia · web-fonts
* 	http://www.google.com/fonts
*	Imports + Golden ratio + responsive typography
*/

/* Imports */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(http://fonts.googleapis.com/css?family=Denk+One);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

/* Variables */
$font-a: 'Open Sans', sans-serif;/*Contingut*/
$font-b: 'Roboto Condensed', sans-serif; /* */
$font-c:'Droid Sans', sans-serif; /* */

/* Calculator Golden Ratio Golden Ratio http://www.pearsonified.com/typography/ */
$base-s:1.5rem;/*15px*/
$base-h:2.5rem;/*25px*/

$h1-s:2  * $base-s;/*size*/
$h1-h: 1.4 * $base-h;/*line-height*/
$h2-s:1.8 * $base-s;/*size*/
$h2-h: 1.3 * $base-h;/*line-height*/
$h3-s:1.5 * $base-s;/*size*/
$h3-h: 1.1 * $base-h;/*line-height*/
$h4-s:1.0 * $base-s;/*size*/
$h4-h: 0.7 * $base-h;/*line-height*/
$h5-s:0.83 * $base-s;/*size*/
$h5-h: 0.6 * $base-h;/*line-height*/
$h6-s:0.75 * $base-s;/*size*/
$h6-h: 0.55 * $base-h;/*line-height*/
	
/*Breakpoints*/
$iphone:320px;
$ipad:768px;	
$desktop:960px;
$desktop-huge:1280px;	
$tv:1480px;

html {  
	font-size: 62.5%;color:$gray;
	/*Typography responsive for compass breakpoints*/
  }
	
body{
	/*$font1: 'Open Sans', sans-serif;*/
	margin:0;
	font-family:$font-a;
	font-size: $base-s;
	line-height:$base-h;
}

/*Syntax custom*/
code{ font-size:1.2rem;  font-family: Consolas,Monaco,"Andale Mono",monospace;}
pre{overflow-x: scroll !important;overflow-y: scroll !important;width: 650px;}

/* Dipta Clear */ 	
.dipta-clear{content: "."; display: block;height: 0;clear: both;visibility: hidden;margin:20px;}
	
p{ font-weight: 300;}
a{color: $blue;text-decoration:none;}
a:hover{text-decoration: underline;}  

h1{/*body*/font-size: $h1-s;font-weight:400;line-height:$h1-h;letter-spacing: -0.2rem;}
h2{font-size: $h2-s; font-weight: 400;line-height:$h2-h;letter-spacing: -0.06rem;}
h3{font-size: $h3-s;font-weight:400;line-height:$h3-h;letter-spacing: -0.06rem;}
h4{font-size: $h4-s;font-weight:400;line-height:$h4-h;letter-spacing: -0.06rem;}
h5{font-size: $h5-s;font-weight:400;line-height:$h5-h;letter-spacing: -0.06rem;}
h6{font-size: $h6-s;font-weight:400;line-height:$h6-h;letter-spacing: -0.06rem;}	


/* Paragraph size h1,h2,h3,h4,h5.h6*/
%ph1{font-size: $h1-s;font-weight:100; line-height:1.2 * $h1-h; letter-spacing:0;}
%ph2{font-size: $h2-s; font-weight:100; line-height:1.2 * $h2-h; letter-spacing:0;}
%ph3{font-size: $h3-s;font-weight:100; line-height:1.2 * $h3-h; letter-spacing:0;}
%ph4{font-size: $h4-s; font-weight:100; line-height:1.2 * $h4-h; letter-spacing:0;}
%ph5{font-size: $h5-s; font-weight:100; line-height:1.2 * $h5-h; letter-spacing:0;}
%ph6{font-size: $h6-s; font-weight:100; line-height:1.2 * $h6-h; letter-spacing:0;}

%dipta-title-page{font-weight:300;}
 
/*Blockquotes*/ 
%border-quote{ border-bottom: 1px solid #EBEBEB;border-top: 1px solid #EBEBEB;}
%caracter-quote{display: block;content: "\201C";font-family: Georgia, serif;
	font-size: 9rem;position: absolute;color: #7a7a7a;margin-left:-4%;margin-top:2%;}
	
%dipta-quote-h2{ @extend %ph2; font-weight:100; @extend %border-quote; padding: 2.3%; }	
%dipta-quote-h3{ @extend %ph3; font-weight:100; @extend %border-quote; padding: 2.3%; }
%dipta-quote-h4{ @extend %ph4; font-weight:100; @extend %border-quote; padding: 2.3%; }
%dipta-quote-h5{ @extend %ph5; font-weight:100; @extend %border-quote; padding: 2.3%; }

%dipta-quote-h2c:before { @extend %caracter-quote; }
%dipta-quote-h2c{ @extend %ph2; font-weight:100; @extend %border-quote; 
	margin-left:5%;padding: 2.3% 2.3% 2.3% 5.3%; }
	
%dipta-quote-h3c:before { @extend %caracter-quote; }
%dipta-quote-h3c{ @extend %ph3; font-weight:100; @extend %border-quote; 
	margin-left:5%;padding: 2.3% 2.3% 2.3% 5.3%; }
	
%dipta-quote-h4c:before{ @extend %caracter-quote; }
%dipta-quote-h4c{ @extend %ph4; font-weight:100; @extend %border-quote;
	margin-left:5%;padding: 2.3% 2.3% 2.3% 5.3%; }

%dipta-quote-h5c:before{ @extend %caracter-quote; }
%dipta-quote-h5c{ @extend %ph5; font-weight:100; @extend %border-quote;
	margin-left:5%;padding: 2.3% 2.3% 2.3% 5.3%; }
		
	
 /*Slider -home */
%dipta-resum-slider-home{
  padding:20px;margin-bottom:0.5%;
  background-color: rgba(240, 245, 249, 0.9);
  width: 251px;height: 141px;
  h2{color:$blue;margin-top:0.5rem;margin-bottom:1rem;}
  .text-banner{@extend p;line-height:0.7*$base-h;margin:0;}
}

.btn-slider-left{
	display: inline-block;height: 36px;width: 144px;
	background-image: url("../images/bg-slideshowarrowleft.png");
    overflow-x: hidden;overflow-y: hidden;
    text-align: left;text-indent: -119988px;
	}
.btn-slider-left:hover{	background-image: url("../images/bg-slideshowarrowlefthover.png");}
.btn-slider-rigth{
	height: 36px;width: 144px;display: inline-block;
	background-image: url("../images/bg-slideshowarrowright.png");
    overflow-x: hidden;overflow-y: hidden;
    text-align: left;text-indent: -119988px;
	}
.btn-slider-rigth:hover{	background-image: url("../images/bg-slideshowarrowrighthover.png");}

/*Pàgines de navegació*/

%dipta-title-img-a{ width:680px; border-bottom:1px solid $eb;
/*position*/padding:10px; position:absolute; background-color:#fff; margin:-55px 0 0 12px; }
	
%dipta-title-img-b{ width:680px; color:$blue;
/*position*/padding:10px; position:absolute; background-color:#fff; margin:-70px 0 0 12px; }
	
%dipta-title-img-c{ width:650px;border-bottom:1px solid $eb;
/*position*/padding:10px; position:absolute; background-color:#fff; margin:-55px 0 0  0; }


%dipta-box-quote-h2c{ width:705px; @extend %dipta-quote-h2c; font-weight: 100;
background-color:#fff;margin:0 !important; padding: 2% 2% 2% 8%; }

%dipta-box-quote-h3c{ width:705px; @extend %dipta-quote-h3c; font-weight: 100;
background-color:#fff;margin:0 !important; padding: 2% 2% 2% 8%; }
	
%dipta-box-quote-h4c{ width:705px; @extend %dipta-quote-h4c; font-weight: 100;
background-color:#fff;margin:0 !important; padding: 2% 2% 2% 8%; }

%dipta-box-quote-h5c{ width:705px; @extend %dipta-quote-h5c; font-weight: 100;
background-color:#fff;margin:0 !important; padding: 2% 2% 2% 8%; }	
 
%dipta-box-quote-h2{ width:705px; @extend %dipta-quote-h2; font-weight: 100;
background-color:#fff;margin:0 !important; padding:2%; }

%dipta-box-quote-h3{ width:705px; @extend %dipta-quote-h3; font-weight: 100;
background-color:#fff;margin:0 !important; padding:2%; }	

%dipta-box-quote-h4{ width:705px; @extend %dipta-quote-h4; font-weight: 100;
background-color:#fff;margin:0 !important; padding:2%; }	

%dipta-box-quote-h5{ width:705px; @extend %dipta-quote-h5; font-weight: 100;
background-color:#fff;margin:0 !important; padding:2%; }	

 
.dipta-galeria{background-color:#ccc;width:677px;height:112; 
	img{margin:1.7rem 1rem 0 2rem;} }

.dipta-img-normal { outline:1px solid $eb;margin:2rem 0 2rem 0;}	 
.dipta-img-float { float:left;margin:0 2rem 2rem 0;outline:1px solid $eb;}
.dipta-body:after{ @extend .dipta-clear;}
.dipta-caption{ background-color:$eb; padding:5px; @extend h6;}	 

/*	Dipta BOX	*/
%border-top-blue {border-top:0.4rem solid $blue;}
%border-bottom-fff{border-bottom:0.4rem solid #fff;}
%border-bottom-eb {border-bottom:0.4rem solid $eb;}

%dipta-box-blue{ background-color:$blue2;
	h1,h2,h3,h4,h5,h6{ padding:2rem; @extend %border-bottom-fff; }
	p{ @extend %ph5; padding: 0 2rem 2rem 2rem; border:0;} 
}

%dipta-box-eb{
	background-color:$eb;
	h1,h2,h3,h4,h5,h6{ padding:2rem; @extend %border-bottom-fff; }
	p{ @extend %ph5; padding: 0 2rem 2rem 2rem; border:0; color:$blue1;} 
}

%dipta-box-blue-eb{
	background-color:$eb;
	h1,h2,h3,h4,h5,h6{ padding:2rem; @extend %border-bottom-fff;background-color:$blue2;}
	p{ @extend %ph5; padding: 0 2rem 2rem 2rem; border:0; background-color:$eb; } 
}

%dipta-box-blue-border{
	background-color:$blue2;
	h1,h2,h3,h4,h5,h6{ padding:2rem; @extend %border-bottom-fff; @extend %border-top-blue ;}
	p{ @extend %ph5; padding: 0 2rem 2rem 2rem; border:0;} 
}

%dipta-bloc-blue-border{
	background-color:$blue2;
	h2{ padding:2rem; @extend %border-bottom-fff; @extend %border-top-blue ; color:$blue;}
	p{ @extend %ph5; padding: 0 2rem 2rem 2rem; border:0;} 
}
%dipta-box-eb-border{
	background-color:$eb;
	h1,h2,h3,h4,h5,h6{ padding:2rem; @extend %border-bottom-fff; @extend %border-top-blue ;}
	p{ @extend %ph5; padding: 0 2rem 2rem 2rem; border:0; color:$blue1;} 
}

%dipta-box-blue-eb-border{
	background-color:$eb;
	h1,h2,h3,h4,h5,h6{ padding:2rem; @extend %border-bottom-fff; @extend %border-top-blue ;background-color:$blue2;}
	p{ @extend %ph5; padding: 0 2rem 2rem 2rem; border:0; background-color:$eb; } 
}

.dipta-concatenats{ @extend %ph5;
		.dipta-camp{display: inline-block; span+span{padding-left:0.5rem;}
	} 
	
	/* separador "|"*/
	div:frist-child{} 
	div + div:before {content:"|"; font-size: 0.8rem;position: relative; top: -2px;padding:0.5rem;}
	div:last-child{} 
}

%dipta-title-escut{
	padding:2rem 0 2rem 5rem;margin:0;
	background: url('../images/escut-dipta.png') no-repeat;
	background-position:2rem 2.1rem;
	background-color:#fff;
	@extend %border-top-blue;
	@extend %border-bottom-eb;
}

.dipta-resum{
	h1,h2,h3,h4,h5{ margin:5px 0 5px 0;}
	p{@extend %ph4;margin:5px 0 5px 0;}
	.float{float:left; margin: 5px 5px 0 0;}
	img{margin-bottom: 5px;}
}

%dipta-box-home{
	background-color:#fff;
	h3,h4,h5{ font-weight: 600;}
	div.dipta-resum{ padding:2rem 2rem 2rem 2rem; }
	div.dipta-resum:first-child{ border-bottom:0.4rem solid $eb; }
	div.dipta-resum + div.dipta-resum{ padding-right:2rem; 
		border-bottom:0.4rem solid $eb;}
	div.dipta-resum:last-child{ border-bottom:0!important; }
	
	p{@extend %ph5;padding:0;}
	p:after{ content:" ...";font-weight: 600;color:$blue;font-size:3rem;}
}

%dipta-box-home:after{ @extend .dipta-clear; }


