/*
* Front-end  framework Creation for Compass
* Import _creation.scss
* Palette colors + typography (golden ratio) + Breakpoints
*
*/

@import "compass/css3";
@import "compass/utilities";
@import "creation/_creation.scss"; 

/* Palette colors*/
$gray:#464646; /* Night Pencil */
$blue1:#014B60;/* Magic */  
$blue:#0083A9;/* yummi-turquoise */
$blue2:#F0F7F9;/* J Peterman Shirt */ 
$eb:#EBEBEB;/* winter morning */


/*Containers*/ 
%container940{ max-width: 940px; margin-left: auto; margin-right: auto;}
%container705{ max-width: 705px; margin-left: auto; margin-right: auto;}
%container235{ max-width: 235px; margin-left: auto; margin-right: auto;}

/* Header Doc*/
header{ 
	background-color:$blue;
	.container{@extend %container705;}
	padding:90px 0 10px 0;;text-align:center;color:#fff;
	p{color:$blue2; line-height: 1.4;font-size:21px;font-weight: normal;}	
	h1{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: 500;font-size: 50px;margin:20px 0 3px 0;}
	.btn-down{
		display: inline-block;@include border-radius(6px);background-color: transparent;
		border:1px solid #F0F7F9;color: #FFFFFF;
		font-size: 17px; font-weight: 500;
		margin-bottom: 15px;margin-top: 15px;
		padding-bottom: 18px;padding-left: 24px;padding-right: 24px; padding-top: 18px;
		transition-delay: 0s; transition-duration: 0.1s; transition-property: all;transition-timing-function: ease-in-out;
	}
	.btn-down:hover{background-color:#fff;color:$blue;text-decoration:none;}
	ul{
	font-size:14px;
	margin-top:20px;
	list-style:none;
	padding:25px;
		li{	display: inline;
			a{color:$blue2;font-weight: normal;}
			a:hover{  text-shadow: 0 0 10px rgba(255,255,255,.55);text-decoration:none;}
			}
		li  + li{margin-left: 20px;}
	}
 }
 
 /* Navigation doc */
 nav{ position:fixed;top:0;margin-left:auto;margin-right:auto;width: 100%;
		background-color:#F0F7F9;z-index: 1000;
	ul{ list-style:none;padding:5px;margin:0;
		text-align:center;text-transform:uppercase;
		li{display:inline;font-size:1.2rem;padding:10px;}
	}
 }
 
/*Footter doc */ 
 footer{ background-color:#014B60; margin:150px 0 0 0; padding:1px 0 1px 0; color:#fff;text-align:center; h5{margin:0;}}
 
 
 /*Title docs page*/
 h1.title-doc{padding-top:80px;
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-weight: 500;font-size: 5rem;}
 h2.title-doc{@extend h3; background-color:$blue1; padding:1%;color:$blue2;font-weight: 500;}

 /* Palette colors*/
 #palette-colors{ 
 list-style:none;padding:0;
		li{color:#ccc;display:inline-block; width:180px;height:350px;text-align:center; 
			i{color:#ccc;display:block;position:relative;font-weight: bold;margin:0;font-size:20px;}
			h5{padding-top:30px;margin-bottom:3px;}
		}
		li:first-child{background-color:#464646;}
		li:nth-child(2){background-color:#014B60;}
		li:nth-child(3){background-color:#0083A9;}
		li:nth-child(4){background-color:#EBEBEB;}
		li:last-child{background-color:#F0F7F9;}
		
		/* #464646 #EBEBEB #0083A9 #F0F7F9 #014B60*/
	}
 
/*typography*/ 
#s1{
 @extend %container940;
 
 .headings-especifics{ @extend %container705;  h1,h2,h3,h4,h5{ @extend %dipta-title-page;} }
 .headings-generals{ @extend %container705;}
 .links{ @extend %container705; a{font-weight: 600;} }
 .paragraph{ @extend %container705;
	p:nth-child(1){ @extend %ph1;}
	p:nth-child(2){ @extend %ph2;}
	p:nth-child(3){ @extend %ph3;}
	p:nth-child(4){ @extend %ph4;}
	p:nth-child(5){ @extend %ph5;}
	p:nth-child(6){ @extend %ph6;}
 }
 .quote{ @extend %container705;
	blockquote:nth-child(2){ @extend %dipta-quote-h2;}
	blockquote:nth-child(5){ @extend %dipta-quote-h3;}
	blockquote:nth-child(8){ @extend %dipta-quote-h4;}
	blockquote:nth-child(11){ @extend %dipta-quote-h5;}
	
	blockquote:nth-child(14){ @extend %dipta-quote-h2c;}
	blockquote:nth-child(17){ @extend %dipta-quote-h3c;}
	blockquote:nth-child(20){ @extend %dipta-quote-h4c;}
	blockquote:nth-child(23){ @extend %dipta-quote-h4;}
 }
 
 .body{  @extend %container705;}
}

/*Images sources*/
#s2{
 @extend %container940;
 .slider-home{
	.dipta-slider-home{ position:absolute;margin:-290px 0 0 30px;}
	.info-banner{ @extend %dipta-resum-slider-home;}
	img{width: 100% !important;height: auto;}
 }
 
.dipta-img-float{@extend %dipta-img-float;}
.dipta-caption{@extend %dipta-caption; }
.dipta-body{ @extend %dipta-body; }
.dipta-concatenats{ @extend %dipta-concatenats;}

.navigation-1{ @extend %container705; h1{ @extend %dipta-title-img-a;} p{ @extend %dipta-quote-h4c;  border:0;} 
	.bloc{ @extend %dipta-box-eb-border; margin:0 2rem 0 2rem; p:before{content:"";padding:0;margin:0;} p{margin:0;}}
}
.navigation-2{ @extend %container705; h1{ @extend %dipta-title-img-b;} p{ @extend %dipta-quote-h4; border:0;} 
	.bloc{@extend %dipta-box-blue-border; margin:0 2rem 0 2rem; p:before{content:"";padding:0;margin:0;}}
}
.navigation-3{ @extend %container705; h1{ @extend %dipta-title-img-c;} p{ @extend %dipta-quote-h4c;  border:0; } 
	.bloc{ @extend %dipta-box-eb; margin:0 2rem 0 2rem; p:before{content:"";padding:0;margin:0;}p{margin:0;}}
 }

#dipta-noticia{ background-color:$eb;padding:2rem;
	.container{ @extend %container705;}
	h2{@extend %dipta-title-escut;}
	.contingut{ @extend %dipta-box-home; 
		div.dipta-resum{ width:44%;float:left; padding:2rem 2rem 2rem 2rem; }
		div.dipta-resum:first-child{ border-right:0.4rem solid $eb;border-bottom:0;}
		div.dipta-resum + div.dipta-resum{ padding-right:2rem; border-bottom:0.4rem solid $eb;}
		div.dipta-resum:last-child{ border-bottom:0!important; }
	}
	}
#dipta-agenda{  background-color:$eb;padding:2rem;
	.container{ @extend %container705;}
	h2{@extend %dipta-title-escut;}
	.contingut{ @extend %dipta-box-home; }
	}
} 
/*navigation*/
#s3{
 @extend %container940;
 
.box-1{ @extend %container705; 

	.bloc{ @extend %dipta-box-blue;}
	.bloc1{ @extend %dipta-box-eb;}
	.bloc2{ @extend %dipta-box-blue-eb;}
}
.box-2{ @extend %container705;
	.bloc{ @extend %dipta-box-blue-border;}
	.bloc1{ @extend %dipta-box-eb-border;}
	.bloc2{ @extend %dipta-box-blue-eb-border;}
}
.box-3{ @extend %container705; 
	.bloc{ @extend %dipta-box-blue-border;}
	.bloc1{ @extend %dipta-box-eb-border;}
	.bloc2{ @extend %dipta-box-blue-eb-border;}
 
}

} 
/*pallete colors*/
#s5,#s7,#s4{ @extend %container940;}

/*bloc*/
#s6{ @extend %container940;
	
	.bloc1{ display:inline-block;
		@extend %dipta-bloc-blue-border;
		h2{ @extend %dipta-title-escut;}
		.contingut{ @extend %dipta-box-home; background-color:#fff; }
	}
	
	.bloc2{ display:inline-block;
		@extend %dipta-bloc-blue-border;
		h2{ @extend %dipta-title-escut; background-color:$blue2; border-bottom-color:#fff;}
		.contingut{ @extend %dipta-box-home; background-color:$blue2; 
			div.dipta-resum{ border-bottom-color:#fff !IMPORTANT;}
			}
	}
	.bloc3{ display:inline-block;
		@extend %dipta-bloc-blue-border;
		h2{ @extend %dipta-title-escut;}
		.contingut{ @extend %dipta-box-home; background-color:#fff; }
	}
	
	.bloc4{ display:inline-block;
		@extend %dipta-bloc-blue-border;
		h2{ @extend %dipta-title-escut; background-color:$blue2; border-bottom-color:#fff;}
		.contingut{ @extend %dipta-box-home; background-color:$blue2; 
			div.dipta-resum{ border-bottom-color:#fff !IMPORTANT;}
			}
	}
}