/*
*
*
*
*/

// Visual Grid Variables
$column:90px;
$gutter: 20px; 
$max-width: 850px; 

$grid-columns: 12 !default; // Total number of columns in the grid
$visual-grid: false !default; // Display the base grid
$visual-grid-color: #d4d4d4 !default;
$visual-grid-opacity: 0.3 !default;
$visual-grid-color: pink;
$visual-grid-index: back;
$visual-grid-opacity: 0.1;


// Grid Setup

$mobile: new-breakpoint(max-width 480px 4); // Use a 4 column grid
$tablet: new-breakpoint(min-width 481px max-width 989px 8); // Use an 8 column grid
$desktop: new-breakpoint(min-width 1234px 12); // Use a 12 column grid
