/*
*
*
*
*/
@import 'susy';    

/* Visual Grid Susy*/
$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters


/* bariable nourbon neats
$column:90px;
$gutter: 20px; 
$max-width: 850px; 

$grid-columns: 12 !default; // Total number of columns in the grid
$visual-grid: false !default; // Display the base grid
$visual-grid-color: #d4d4d4 !default;
$visual-grid-opacity: 0.3 !default;
$visual-grid-color: pink;
$visual-grid-index: back;
$visual-grid-opacity: 0.1;

*/
// Grid Setup

$mobile: 480px ; // Use a 4 column grid
$tablet: 481px  989px ; // Use an 8 column grid
$desktop:  1234px  1400px; // Use a 12 column grid




