/*
*
*	Banner Baix
*   http://www.responsinator.com
*	http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
*/
/*Mixins*/
	@mixin dipta-banners-baix-iphone{
		/*Bloc Banners inferiors*/
		#block-views-banners-home-block-3 {
			.dipta-banner{ @include span-columns(5,10);float:left;margin-right:0.2rem;}
			 .text-banner{display:none;}
			 h3 { font-size:$h5-s;line-height:$h5-h;}
		}
	}
	@mixin dipta-banners-baix-kindle{
		/*Bloc Banners inferiors*/
		#block-views-banners-home-block-3 {
			.dipta-banner{ @include span-columns(3,10);float:left;margin-right:0.4rem;}
			 .text-banner{display:none;}
			 h3 { font-size:$h5-s;line-height:$h5-h;}
		}
	}	
	@mixin dipta-banners-baix-ipad{
		/*Bloc Banners inferiors*/
		#block-views-banners-home-block-3 {
			.dipta-banner{ @include span-columns(3,12);float:left;margin-right:1rem; margin-bottom: 1rem; }
			 .text-banner{}
			 h3 { font-size:$h5-s;line-height:$h5-h;}
		}
	}
	
	@mixin dipta-banners-baix-ipad-landscape{
		/*Bloc Banners inferiors*/
		#block-views-banners-home-block-3 {
			.dipta-banner{ @include span-columns(3,12);float:left;margin-right:1rem; margin-bottom: 1rem; }
			 .text-banner{} h3 { }
		}
	}
/*Responsive*/

.region-banners{ //@include susy-grid-background;
	@include container; @include dipta-container-width;
	/*All*/
	padding-top:5px;
	padding-left:0;
	
	@include at-breakpoint($iphone4) { @include dipta-banners-baix-iphone;
	}//	
 	@include at-breakpoint($iphone4-landscape) { @include dipta-banners-baix-iphone;
	}//
 	@include at-breakpoint($iphone5-landscape) { @include dipta-banners-baix-iphone;
	}//
	@include at-breakpoint($kindle) { @include dipta-banners-baix-kindle;
	}//
	@include at-breakpoint($ipad) {  @include dipta-banners-baix-ipad;
	}//
	@include at-breakpoint($ipad-landscape) { @include dipta-banners-baix-ipad-landscape;
	}//
}