/*
*
*	Footer 
*   http://www.responsinator.com
*	http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
*/

/* Mixins */

	@mixin dipta-logo-footer{
			#block-block-6{ /*first*/
				margin:0; p{ color:#BBDEE8;padding-bottom:2rem; margin:0;
				text-align:left; font-size:$h6-s; line-height:$h6-h;  }
				img{text-align:center;display:block;}
				span{ margin-left: 50px;}
			}
	}	
	
	@mixin dipta-mapa-web-border{
			#block-menu-block-4{ /*second*/margin:0; overflow: hidden;
				border:0.1rem solid #BBDEE8;
				ul {padding:0; li{ a{color:#BBDEE8;} text-align:left; font-size:$h6-s; line-height:$h5-h;  } }
				ul.menu:first-child > li > a { font-weight: bold; font-size:$h6-s; color:#fff; }
				ul.menu:first-child > li {  padding:1rem 2rem;margin:0;min-height:0px!important;}
			}
	}
	
	@mixin dipta-mapa-web{
			#block-menu-block-4{ /*second*/margin:0; overflow: hidden;
				border-left:0.1rem solid #BBDEE8;border-right:0.1rem solid #BBDEE8;
				ul {padding:0; li{ a{color:#BBDEE8;} text-align:left; font-size:$h6-s; line-height:$h5-h;  } }
				ul.menu:first-child > li > a { font-weight: bold; font-size:$h6-s; color:#fff; }
				ul.menu:first-child > li {  padding:1rem 2rem;margin:0;min-height:0px!important;  }
				ul.menu:first-child > li+li { border-left:0.1rem solid #BBDEE8;}
			}
	}


/* Responsive */

.footer-wrapper {// @include dipta-grid-color-change;
	@include container; @include dipta-container-width;
	
	
	/*All*/		
		@include at-breakpoint($iphone4) {
			.region-footer-first{ @include span-columns(4); @include dipta-logo-footer;} 
			.region-footer-second { @include span-columns(4); @include dipta-mapa-web-border;} 
			.region-footer-third { @include span-columns(4);}
		
		}//	
		@include at-breakpoint($iphone4-landscape) {
			.region-footer-first{ @include span-columns(5); @include dipta-logo-footer;} 
			.region-footer-second { @include span-columns(5); @include dipta-mapa-web-border;} 
			.region-footer-third { @include span-columns(5);}
		}//
		@include at-breakpoint($iphone5-landscape) { 
			.region-footer-first{ @include span-columns(6); @include dipta-logo-footer;} 
			.region-footer-second { @include span-columns(6); @include dipta-mapa-web-border;} 
			.region-footer-third { @include span-columns(6);}
		}//
		@include at-breakpoint($kindle) {
			.region-footer-first{ @include span-columns(8); @include dipta-logo-footer;} 
			.region-footer-second { @include span-columns(8 omega); @include dipta-mapa-web;
				ul.menu:first-child > li {@include span-columns(2);  }
			} 
			.region-footer-third { @include span-columns(8);}
		
		}//
		@include at-breakpoint($ipad) {  
			.region-footer-first{ @include span-columns(3); @include dipta-logo-footer;} 
			.region-footer-second { @include span-columns(8 omega); @include dipta-mapa-web;
				ul.menu:first-child > li { @include span-columns(3); }
			} 
			.region-footer-third { @include span-columns(11);}
		}//
		@include at-breakpoint($ipad-landscape) { 
			.region-footer-first{ @include span-columns(3); @include dipta-logo-footer;} 
			.region-footer-second { @include span-columns(9 omega); @include dipta-mapa-web; 
				ul.menu:first-child > li {@include span-columns(3);  }
			} 
			.region-footer-third { @include span-columns(12);}
		}//
}
.footer-wrapper :hover{ /*@include dipta-grid-show;*/}