@charset "CP850";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(http://fonts.googleapis.com/css?family=Denk+One);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);
/**
 * @file
 * Page Styling
 *
 */
/**
 * @file
 * Creation for compass - Front-end framework de  la Diputaci¢ de Tarragona.
 * @Miguel µngel Ramos. 
 *
 */
/* Compass*/
/* Creation base */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
/* line 8, ../../sass/creation/base/_syntax.scss */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* line 27, ../../sass/creation/base/_syntax.scss */
::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

/* line 32, ../../sass/creation/base/_syntax.scss */
::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  /* line 39, ../../sass/creation/base/_syntax.scss */
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
/* line 45, ../../sass/creation/base/_syntax.scss */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* line 52, ../../sass/creation/base/_syntax.scss */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  /* #FEFA83  #f5f2f0 #FFFBEA #FEFA83;*/
  background: #FEFA83;
  border: 1px solid #d2caa7;
}

/* Inline code */
/* line 63, ../../sass/creation/base/_syntax.scss */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

/* line 71, ../../sass/creation/base/_syntax.scss */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

/* line 75, ../../sass/creation/base/_syntax.scss */
.token.punctuation {
  color: #999;
}

/* line 79, ../../sass/creation/base/_syntax.scss */
.namespace {
  opacity: .7;
}

/* line 86, ../../sass/creation/base/_syntax.scss */
.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905;
}

/* line 92, ../../sass/creation/base/_syntax.scss */
.token.selector,
.token.attr-name,
.token.string {
  color: #690;
}

/* line 100, ../../sass/creation/base/_syntax.scss */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

/* line 107, ../../sass/creation/base/_syntax.scss */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

/* line 113, ../../sass/creation/base/_syntax.scss */
.token.regex,
.token.important {
  color: #e90;
}

/* line 117, ../../sass/creation/base/_syntax.scss */
.token.important {
  font-weight: bold;
}

/* line 121, ../../sass/creation/base/_syntax.scss */
.token.entity {
  cursor: help;
}

/* line 124, ../../sass/creation/base/_syntax.scss */
pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

/* line 129, ../../sass/creation/base/_syntax.scss */
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  /* Same as .prisms padding-top */
  background: rgba(153, 122, 102, 0.08);
  background: -moz-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: -webkit-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: -o-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

/* line 149, ../../sass/creation/base/_syntax.scss */
.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .4em;
  left: .6em;
  min-width: 1em;
  padding: 0 0.5em;
  background-color: rgba(153, 122, 102, 0.4);
  color: #f5f2f0;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px white;
}

/* line 166, ../../sass/creation/base/_syntax.scss */
.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em;
}

/* line 171, ../../sass/creation/base/_syntax.scss */
pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

/* line 177, ../../sass/creation/base/_syntax.scss */
pre.line-numbers > code {
  position: relative;
}

/* line 181, ../../sass/creation/base/_syntax.scss */
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 198, ../../sass/creation/base/_syntax.scss */
.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

/* line 204, ../../sass/creation/base/_syntax.scss */
.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

/**
* 	Palette colors
*   Night Pencil + Magic + yummi-turquoise + J Peterman Shirt + winter morning
*	Functions colors Sass:
*	http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html	
*/
/*
lighten($color, $amount)
darken($color, $amount)
saturate($color, $amount)
desaturate($color, $amount)
grayscale($color)
invert($color)
*/
/* Night Pencil */
/* Magic */
/* yummi-turquoise */
/* J Peterman Shirt */
/* winter morning */
/* Tonalitats */
/**
*	Typografia  web-fonts
* 	http://www.google.com/fonts
*	Imports + Golden ratio + responsive typography
*/
/* Imports */
/* Variables */
/*Contingut*/
/*Headings*/
/* Especial*/
/* Calculator Golden Ratio Golden Ratio http://www.pearsonified.com/typography/ */
/*15px*/
/*25px*/
/*size*/
/*line-height*/
/*size*/
/*line-height*/
/*size*/
/*line-height*/
/*size*/
/*line-height*/
/*size*/
/*line-height*/
/*size*/
/*line-height*/
/* Creation custom*/
/**
*	Typografia  - Creation
* 	http://www.google.com/fonts
*	Imports + Golden ratio + responsive typography
* 	$font-a;contingut + $font-b;Headings + $font-c; especial
*/
/* line 10, ../../sass/creation/custom/_typography.scss */
p {
  font-weight: 300;
}

/* line 11, ../../sass/creation/custom/_typography.scss */
a {
  color: #0083a9;
  text-decoration: none;
}

/* line 12, ../../sass/creation/custom/_typography.scss */
a:hover {
  text-decoration: underline;
}

/* Headings*/
/* line 15, ../../sass/creation/custom/_typography.scss */
h1 {
  /*body*/
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: -0.2rem;
}

/* line 16, ../../sass/creation/custom/_typography.scss */
h2 {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 3.25rem;
  letter-spacing: -0.06rem;
}

/* line 17, ../../sass/creation/custom/_typography.scss */
h3 {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.75rem;
  letter-spacing: -0.06rem;
}

/* line 18, ../../sass/creation/custom/_typography.scss */
h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.06rem;
}

/* line 19, ../../sass/creation/custom/_typography.scss */
h5 {
  font-size: 1.245rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.06rem;
}

/* line 20, ../../sass/creation/custom/_typography.scss */
h6 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: -0.06rem;
}

/* Paragraph size h1,h2,h3,h4,h5.h6*/
/* line 28, ../../sass/creation/custom/_typography.scss */
.dipta-resum p {
  font-size: 1.245rem;
  font-weight: 100;
  line-height: 1.8rem;
  letter-spacing: 0;
}

/* Blockquotes*/
/* Box quotes */
/*
*	Elements - Creation
*	
*/
/* Element Clear */
/* line 8, ../../sass/creation/custom/_elements.scss */
.dipta-clear, .dipta-resum:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Element box*/
/* Element dipta-resum */
/* line 63, ../../sass/creation/custom/_elements.scss */
.dipta-resum h1, .dipta-resum h2, .dipta-resum h3, .dipta-resum h4, .dipta-resum h5 {
  margin: 5px 0 5px 0;
  font-weight: 600;
}
/* line 64, ../../sass/creation/custom/_elements.scss */
.dipta-resum p {
  margin: 5px 0 5px 0;
  padding: 0;
}
/* line 65, ../../sass/creation/custom/_elements.scss */
.dipta-resum p:after {
  content: " ...";
  font-weight: 600;
  color: #0083a9;
  font-size: 3rem;
}
/* line 66, ../../sass/creation/custom/_elements.scss */
.dipta-resum .dipta-resum-float {
  float: left;
  margin: 5px 5px 0 0;
}
/* line 67, ../../sass/creation/custom/_elements.scss */
.dipta-resum img {
  margin-bottom: 5px;
}

/* Element Conacatenats*/
/* Titles Images */
/*
*	Images - Creation
* 
*/
/*Slider -home */
/* line 16, ../../sass/creation/custom/_images.scss */
.btn-slider-left {
  display: inline-block;
  height: 36px;
  width: 144px;
  background-image: url("../images/bg-slideshowarrowleft.png");
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  text-indent: -119988px;
}

/* line 22, ../../sass/creation/custom/_images.scss */
.btn-slider-left:hover {
  background-image: url("../images/bg-slideshowarrowlefthover.png");
}

/* line 23, ../../sass/creation/custom/_images.scss */
.btn-slider-rigth {
  height: 36px;
  width: 144px;
  display: inline-block;
  background-image: url("../images/bg-slideshowarrowright.png");
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  text-indent: -119988px;
}

/* line 29, ../../sass/creation/custom/_images.scss */
.btn-slider-rigth:hover {
  background-image: url("../images/bg-slideshowarrowrighthover.png");
}

/* line 31, ../../sass/creation/custom/_images.scss */
.dipta-galeria {
  background-color: #ccc;
  width: 677px;
  height: 112;
}
/* line 32, ../../sass/creation/custom/_images.scss */
.dipta-galeria img {
  margin: 1.7rem 1rem 0 2rem;
}

/*
*	Navigations- Creation
*	Menus + breadcrums 
*
*/
/*
*	Tables - Creation
*	Menus + breadcrums 
*
*/
/*
*	Forms - Creation
*	Menus + breadcrums + box navigations
*
*/
/*Creation layouts*/
/*
*
*	Susy - Creation base
*   http://www.responsinator.com
*	http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
*/
/* Visual Grid Susy for REM 1rem=>10px*/
/*
lighten($verd, 20%);darken($verd, 20%);saturate($verd, 10%);desaturate($verd, 10%);grayscale($verd);invert($verd);
*/
/* line 26, ../../sass/creation/_creation.scss */
html {
  color: #464646;
  /*All*/
  font-size: 62.5%;
  /*Typography responsive*/
}
@media (max-width: 320px) {
  /* line 26, ../../sass/creation/_creation.scss */
  html {
    font-size: 52.5%;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  /* line 26, ../../sass/creation/_creation.scss */
  html {
    font-size: 55.5%;
  }
}
@media (min-width: 481px) and (max-width: 568px) {
  /* line 26, ../../sass/creation/_creation.scss */
  html {
    font-size: 58.5%;
  }
}

/* line 36, ../../sass/creation/_creation.scss */
body {
  /*$font1: 'Open Sans', sans-serif;*/
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  line-height: 2.3rem;
}

/*Syntax custom*/
/* line 46, ../../sass/creation/_creation.scss */
code {
  font-size: 1.2rem;
  font-family: Consolas,Monaco,"Andale Mono",monospace;
}

/* line 47, ../../sass/creation/_creation.scss */
pre {
  overflow-x: scroll !important;
  overflow-y: scroll !important;
}

/* line 10, ../../sass/partials/pages.scss */
body {
  background: #0083a9;
  margin: 0;
  padding: 0;
}

/* line 12, ../../sass/partials/pages.scss */
#skip-link {
  margin: 0;
}
/* line 14, ../../sass/partials/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*header*/
/* line 20, ../../sass/partials/pages.scss */
#page-header {
  border-bottom: 1px solid #006886;
  text-align: right;
}
/* line 23, ../../sass/partials/pages.scss */
#page-header a {
  color: #fff;
  text-decoration: none;
}
/* line 26, ../../sass/partials/pages.scss */
#page-header a.active {
  font-weight: 400;
}
/* line 30, ../../sass/partials/pages.scss */
#page-header ul {
  margin: 0;
}
/* line 34, ../../sass/partials/pages.scss */
#page-header .block {
  display: inline-block;
  margin: 0.6em 0;
}
/* line 39, ../../sass/partials/pages.scss */
#page-header #block-locale-language {
  font-size: h5-s;
  text-transform: uppercase;
}
/* line 42, ../../sass/partials/pages.scss */
#page-header #block-locale-language .language-switcher-locale-url {
  display: inline;
}
/* line 44, ../../sass/partials/pages.scss */
#page-header #block-locale-language .language-switcher-locale-url li {
  border-right: 1px solid white;
  display: inline;
  list-style: none;
  padding: 0 0.5em 0 0.3em;
}
/* line 49, ../../sass/partials/pages.scss */
#page-header #block-locale-language .language-switcher-locale-url li.first {
  padding-left: 0;
}
/* line 52, ../../sass/partials/pages.scss */
#page-header #block-locale-language .language-switcher-locale-url li.last {
  border-right: none;
  padding-right: 0;
}

/* line 62, ../../sass/partials/pages.scss */
#header {
  background: #f0f7f9;
}

/* line 66, ../../sass/partials/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 2.4em 0 1em 0;
  padding: 0;
}
/* line 71, ../../sass/partials/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 76, ../../sass/partials/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 80, ../../sass/partials/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 86, ../../sass/partials/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 92, ../../sass/partials/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 97, ../../sass/partials/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 102, ../../sass/partials/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*Main*/
/* line 107, ../../sass/partials/pages.scss */
#main {
  background: #ebebeb url("../images/content-bg.png") repeat-x left top;
}
/* line 109, ../../sass/partials/pages.scss */
#main .main-content {
  overflow: hidden;
  padding: 0 0 1.6em;
}
/* line 112, ../../sass/partials/pages.scss */
.not-front #main .main-content {
  background: #fff;
}

/* line 117, ../../sass/partials/pages.scss */
.not-front #content {
  /*margin-top: 0.4em;*/
  padding-left: 0;
}

/* line 122, ../../sass/partials/pages.scss */
.front .region-sidebar-second .block {
  margin-right: -20px;
}

/* line 128, ../../sass/partials/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 131, ../../sass/partials/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 137, ../../sass/partials/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 141, ../../sass/partials/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 147, ../../sass/partials/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 151, ../../sass/partials/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 154, ../../sass/partials/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 159, ../../sass/partials/pages.scss */
.banners {
  background: #f0f7f9;
}

/* line 163, ../../sass/partials/pages.scss */
.corporate {
  background: #fff;
}

/* Footer*/
/* line 169, ../../sass/partials/pages.scss */
#footer {
  padding-top: 2rem;
  background: #0083a9;
  color: #fff;
}
/* line 173, ../../sass/partials/pages.scss */
#footer a {
  color: #fff;
}
/* line 176, ../../sass/partials/pages.scss */
#footer .region-bottom-wrapper {
  border-top: 1px solid #80c1d4;
  margin-top: 2rem;
}
/* line 180, ../../sass/partials/pages.scss */
#footer .region-bottom-wrapper .region-bottom {
  text-align: center;
}

@media all and (min-width: 960px) {
  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 193, ../../sass/partials/pages.scss */
  div.zen-group3 {
    /* Span 12 columns, starting in 2nd column from left. */
    /* $zen-column-count: 3;
     $zen-gutter-width: 0px;
     @include zen-grid-container;*/
  }

  /* line 201, ../../sass/partials/pages.scss */
  #navigation {
    /* overflow: hidden;
      #main-menu {float: left;width: 70%;}
      .region-navigation {float: right; width: 29%;text-align: right;}*/
  }

  /* line 206, ../../sass/partials/pages.scss */
  .destacat-content {
    /*@include zen-grid-item(1, 1);*/
    /*	width:32%;*/
    /*float:left;*/
    /*border:1px solid red;
    background-color: #F0F7F9;*/
    margin: 0px;
    /*Per compensar el margin-left negatiu que sobreposa el MIXIN*/
    /*border-top: 4px solid #0083A9;*/
    padding: 10px;
  }
  /* line 217, ../../sass/partials/pages.scss */
  .destacat-content span.pre-titol {
    display: block;
    padding: 5px 0px 14px;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
  }
  /* line 224, ../../sass/partials/pages.scss */
  .destacat-content h2 {
    border-bottom: 2px solid white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 0px;
    padding-top: 5px;
    color: #0083A9;
    font-size: 1.38462em;
    line-height: 2em;
  }
  /* line 235, ../../sass/partials/pages.scss */
  .destacat-content .destacat-titol {
    color: #0083A9;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  /* line 240, ../../sass/partials/pages.scss */
  .destacat-content .destacat-titol .label-above {
    font-weight: bold;
  }
  /* line 244, ../../sass/partials/pages.scss */
  .destacat-content h3.destacat-titol {
    color: #0083A9;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  /* line 249, ../../sass/partials/pages.scss */
  .destacat-content h3.destacat-titol .label-above {
    font-weight: bold;
  }
  /* line 253, ../../sass/partials/pages.scss */
  .destacat-content .destacat-carrec {
    font-weight: bold;
    margin-left: 20px;
    margin-right: 5px;
  }
  /* line 257, ../../sass/partials/pages.scss */
  .destacat-content .destacat-carrec::after {
    content: ":";
  }
  /* line 261, ../../sass/partials/pages.scss */
  .destacat-content .destacat-carrec, .destacat-content .destacat-nomres {
    display: inline-block;
  }
  /* line 264, ../../sass/partials/pages.scss */
  .destacat-content p.destacat-etitext, .destacat-content p.destacat-text {
    /*margin-left:20px;
    color:red;*/
  }
  /* line 268, ../../sass/partials/pages.scss */
  .destacat-content .destacat-read-more {
    margin: 7px 0 0 20px;
  }
  /* line 272, ../../sass/partials/pages.scss */
  .destacat-content .destacat-text p {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
  }
  /* line 277, ../../sass/partials/pages.scss */
  .destacat-content .destacat-img {
    border: 1px solid #333333;
    height: auto;
    max-width: 100%;
    /*margin-left:20px;*/
    padding: 12px;
    /*float:left;*/
  }
  /* line 285, ../../sass/partials/pages.scss */
  .destacat-content .view-mode-destaquem {
    width: 48%;
    float: left;
    min-height: 230px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  /* line 297, ../../sass/partials/pages.scss */
  .region-content-bottom-first,
  .region-content-bottom-second {
    /*padding:2% 0 2% 0;*/
  }

  /* line 303, ../../sass/partials/pages.scss */
  .related-content {
    float: right;
  }
  /* line 305, ../../sass/partials/pages.scss */
  .related-content li {
    min-height: 0px!important;
  }

  /* line 309, ../../sass/partials/pages.scss */
  .related-content-files {
    float: left;
  }

  /* line 318, ../../sass/partials/pages.scss */
  .footer-wrapper {
    overflow: hidden;
  }
  /* line 328, ../../sass/partials/pages.scss */
  .footer-wrapper .region-footer-first p {
    margin: 0px;
    padding: 0px;
  }
  /* line 331, ../../sass/partials/pages.scss */
  .footer-wrapper .region-footer-first p span {
    margin-left: 50px;
    margin-bottom: 3px;
  }
  /* line 339, ../../sass/partials/pages.scss */
  .footer-wrapper .region-footer-second h2 {
    margin-top: 23px;
    margin-bottom: 15px;
  }
  /* line 344, ../../sass/partials/pages.scss */
  .footer-wrapper .region-footer-third {
    padding-right: 0;
  }
  /* line 347, ../../sass/partials/pages.scss */
  .footer-wrapper .region-footer-third h2 {
    margin-top: 22px;
  }
}
/* line 356, ../../sass/partials/pages.scss */
.openlayers-map .olControlOverviewMapExtentRectangle {
  background-image: url("img/blank.gif");
}

/* line 359, ../../sass/partials/pages.scss */
.openlayers-map .olControlZoomPanel div {
  background-image: url("img/zoom-panel.png");
}

/* line 363, ../../sass/partials/pages.scss */
.openlayers-map .olControlNavToolbar div,
.openlayers-map .olControlEditingToolbar div {
  background-image: url("img/editing_tool_bar.png");
}

/**
 * A few custom styles
 */
/* line 370, ../../sass/partials/pages.scss */
.openlayers-popup {
  color: #EEEEEE;
}

/* line 374, ../../sass/partials/pages.scss */
.olLayerGooglePoweredBy, .olLayerGoogleV3 {
  display: none !important;
}

/* line 378, ../../sass/partials/pages.scss */
#quicktabs-municipis_tabs ul.quicktabs-tabs.quicktabs-style-basic li {
  padding: 2px 0 !important;
  margin: 0px!important;
}

/* line 385, ../../sass/partials/pages.scss */
.related-content {
  float: right;
}
/* line 387, ../../sass/partials/pages.scss */
.related-content li {
  min-height: 0px!important;
}

/* line 391, ../../sass/partials/pages.scss */
.related-content-files {
  float: left;
}

/* line 394, ../../sass/partials/pages.scss */
.marginleft {
  margin-left: 13px;
}

	/*
  .footer-wrapper {
    overflow: hidden;
    .region-footer-first,
    .region-footer-second,
    .region-footer-third {
     float: left;
      padding-right: 10px;
    }
    .region-footer-first {
     width: 23%;
	  p{
		margin:0px;
		padding:0px;
		 span{
			//margin-left:50px;
			margin-bottom:3px;
		  }
		}
    }
    .region-footer-second {
      width: 61%;
	  h2{
		margin-top:23px;
		margin-bottom:15px;
	  }
    }
    .region-footer-third {
      width: 13%;
	  padding-right: 0;
	  h2{
		margin-top:22px;
	  }
    }
  } */
/* line 434, ../../sass/partials/pages.scss */
.openlayers-map .olControlOverviewMapExtentRectangle {
  background-image: url("img/blank.gif");
}

/* line 437, ../../sass/partials/pages.scss */
.openlayers-map .olControlZoomPanel div {
  background-image: url("img/zoom-panel.png");
}

/* line 441, ../../sass/partials/pages.scss */
.openlayers-map .olControlNavToolbar div,
.openlayers-map .olControlEditingToolbar div {
  background-image: url("img/editing_tool_bar.png");
}

/**
 * A few custom styles
 */
/* line 448, ../../sass/partials/pages.scss */
.openlayers-popup {
  color: #EEEEEE;
}

/* line 452, ../../sass/partials/pages.scss */
.olLayerGooglePoweredBy, .olLayerGoogleV3 {
  display: none !important;
}

/* line 456, ../../sass/partials/pages.scss */
#quicktabs-municipis_tabs ul.quicktabs-tabs.quicktabs-style-basic li {
  padding: 2px 0 !important;
  margin: 0px!important;
}
