@charset "CP850";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(http://fonts.googleapis.com/css?family=Denk+One);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);
/***** VIEWS BLOCS *******************************************************************************
*
*
*/
/**
 * @file
 * Creation for compass - Front-end framework de  la Diputaci¢ de Tarragona.
 * @Miguel µngel Ramos. 
 *
 */
/* Compass*/
/* Creation base */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
/* line 8, ../../sass/creation/base/_syntax.scss */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* line 27, ../../sass/creation/base/_syntax.scss */
::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

/* line 32, ../../sass/creation/base/_syntax.scss */
::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  /* line 39, ../../sass/creation/base/_syntax.scss */
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
/* line 45, ../../sass/creation/base/_syntax.scss */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* line 52, ../../sass/creation/base/_syntax.scss */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  /* #FEFA83  #f5f2f0 #FFFBEA #FEFA83;*/
  background: #FEFA83;
  border: 1px solid #d2caa7;
}

/* Inline code */
/* line 63, ../../sass/creation/base/_syntax.scss */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

/* line 71, ../../sass/creation/base/_syntax.scss */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

/* line 75, ../../sass/creation/base/_syntax.scss */
.token.punctuation {
  color: #999;
}

/* line 79, ../../sass/creation/base/_syntax.scss */
.namespace {
  opacity: .7;
}

/* line 86, ../../sass/creation/base/_syntax.scss */
.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905;
}

/* line 92, ../../sass/creation/base/_syntax.scss */
.token.selector,
.token.attr-name,
.token.string {
  color: #690;
}

/* line 100, ../../sass/creation/base/_syntax.scss */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

/* line 107, ../../sass/creation/base/_syntax.scss */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

/* line 113, ../../sass/creation/base/_syntax.scss */
.token.regex,
.token.important {
  color: #e90;
}

/* line 117, ../../sass/creation/base/_syntax.scss */
.token.important {
  font-weight: bold;
}

/* line 121, ../../sass/creation/base/_syntax.scss */
.token.entity {
  cursor: help;
}

/* line 124, ../../sass/creation/base/_syntax.scss */
pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

/* line 129, ../../sass/creation/base/_syntax.scss */
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  /* Same as .prisms padding-top */
  background: rgba(153, 122, 102, 0.08);
  background: -moz-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: -webkit-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: -o-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

/* line 149, ../../sass/creation/base/_syntax.scss */
.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .4em;
  left: .6em;
  min-width: 1em;
  padding: 0 0.5em;
  background-color: rgba(153, 122, 102, 0.4);
  color: #f5f2f0;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px white;
}

/* line 166, ../../sass/creation/base/_syntax.scss */
.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em;
}

/* line 171, ../../sass/creation/base/_syntax.scss */
pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

/* line 177, ../../sass/creation/base/_syntax.scss */
pre.line-numbers > code {
  position: relative;
}

/* line 181, ../../sass/creation/base/_syntax.scss */
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 198, ../../sass/creation/base/_syntax.scss */
.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

/* line 204, ../../sass/creation/base/_syntax.scss */
.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

/**
* 	Palette colors
*
*	http://www.colourlovers.com/palette/2978475/Deputation
*   Night Pencil + Magic + yummi-turquoise + J Peterman Shirt + winter morning
*	bc:#bcbcbc,Gamebookers Blue:#3299BB	 
*
*	Functions colors Sass:
*	http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html	
*/
/*
lighten($color, $amount)
darken($color, $amount)
saturate($color, $amount)
desaturate($color, $amount)
grayscale($color)
invert($color)
*/
/*gray*/
/* Night Pencil */
/*blue1*/
/* Magic */
/*blue*/
/* yummi-turquoise */
/*blue-1*/
/* J Peterman Shirt */
/*eb*/
/* winter morning */
/* Tonalitats */
/**
*	Typografia  web-fonts
* 	http://www.google.com/fonts
*	Imports + Golden ratio + responsive typography
*/
/* Imports */
/* Variables */
/*Contingut*/
/*Headings*/
/* Especial*/
/* Calculator Golden Ratio Golden Ratio http://www.pearsonified.com/typography/ */
/*15px*/
/*25px*/
/*size*/
/*line-height*/
/*size*/
/*line-height*/
/*size*/
/*line-height*/
/*size*/
/*line-height*/
/*size*/
/*line-height*/
/*size*/
/*line-height*/
/* Creation custom*/
/**
*	Typografia  web-fonts
* 	http://www.google.com/fonts
*	Imports + Golden ratio + responsive typography
* 	$font-a;contingut + $font-b;Headings + $font-c; especial
*/
/* line 14, ../../sass/creation/custom/_typography.scss */
p {
  font-weight: 300;
}

/* line 15, ../../sass/creation/custom/_typography.scss */
a {
  color: #0083a9;
  text-decoration: none;
}

/* line 16, ../../sass/creation/custom/_typography.scss */
a:hover {
  text-decoration: underline;
}

/* Headings*/
/* line 19, ../../sass/creation/custom/_typography.scss */
h1 {
  /*body*/
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: -0.2rem;
}

/* line 20, ../../sass/creation/custom/_typography.scss */
h2 {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 3.25rem;
  letter-spacing: -0.06rem;
}

/* line 21, ../../sass/creation/custom/_typography.scss */
h3, #block-views-noticies-presidencia-block-2 h2,
#block-views-not-cies-block-3 h2,
#block-views-actes-agenda-block-6 h2,
#block-views-agenda-presidencia-block-1 h2, #block-views-municipis-comarca-block h2, #block-views-area-unitats-block h2, #block-views-not-cies-block-6 h2, #block-views-actes-agenda-block-7 h2 {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.75rem;
  letter-spacing: -0.06rem;
}

/* line 22, ../../sass/creation/custom/_typography.scss */
h4, #block-views-municipis-block-1 h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.06rem;
}

/* line 23, ../../sass/creation/custom/_typography.scss */
h5, #block-views-noticies-presidencia-block-2 .view-footer,
#block-views-not-cies-block-3 .view-footer,
#block-views-actes-agenda-block-6 .view-footer,
#block-views-agenda-presidencia-block-1 .view-footer, #block-views-not-cies-block-6 .view-footer, #block-views-actes-agenda-block-7 .view-footer {
  font-size: 1.245rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.06rem;
}

/* line 24, ../../sass/creation/custom/_typography.scss */
h6 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: -0.06rem;
}

/* Paragraph size h1,h2,h3,h4,h5.h6*/
/* line 32, ../../sass/creation/custom/_typography.scss */
#block-views-municipis-comarca-block p, #block-views-area-unitats-block p, .dipta-resum p {
  font-size: 1.245rem;
  font-weight: 100;
  line-height: 1.8rem;
  letter-spacing: 0;
}

/* line 36, ../../sass/creation/custom/_typography.scss */
#block-views-noticies-presidencia-block-2 h2,
#block-views-not-cies-block-3 h2,
#block-views-actes-agenda-block-6 h2,
#block-views-agenda-presidencia-block-1 h2, #block-views-not-cies-block-6 h2, #block-views-actes-agenda-block-7 h2 {
  padding: 2rem 0 2rem 5rem;
  margin: 0;
  background: url("../../images/escut-dipta.png") no-repeat;
  background-position: 2rem 2.1rem;
  background-color: #fff;
}

/* Blockquotes*/
/* Box quotes */
/*
*	Elements - Creation
*	
*/
/* Element Clear */
/* line 8, ../../sass/creation/custom/_elements.scss */
.dipta-clear, .dipta-resum:after, #block-views-noticies-presidencia-block-2 .view-content:after,
#block-views-not-cies-block-3 .view-content:after,
#block-views-actes-agenda-block-6 .view-content:after,
#block-views-agenda-presidencia-block-1 .view-content:after, #block-views-not-cies-block-6 .view-content:after, #block-views-actes-agenda-block-7 .view-content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Element box*/
/* line 13, ../../sass/creation/custom/_elements.scss */
#block-views-noticies-presidencia-block-2 h2,
#block-views-not-cies-block-3 h2,
#block-views-actes-agenda-block-6 h2,
#block-views-agenda-presidencia-block-1 h2, #block-views-not-cies-block-6 h2, #block-views-actes-agenda-block-7 h2, #block-views-municipis-comarca-block h1, #block-views-area-unitats-block h1, #block-views-municipis-comarca-block h2, #block-views-area-unitats-block h2, #block-views-municipis-comarca-block h3, #block-views-area-unitats-block h3, #block-views-municipis-comarca-block #block-views-noticies-presidencia-block-2 h2, #block-views-noticies-presidencia-block-2 #block-views-municipis-comarca-block h2, #block-views-area-unitats-block #block-views-noticies-presidencia-block-2 h2, #block-views-noticies-presidencia-block-2 #block-views-area-unitats-block h2,
#block-views-municipis-comarca-block #block-views-not-cies-block-3 h2,
#block-views-not-cies-block-3 #block-views-municipis-comarca-block h2,
#block-views-area-unitats-block #block-views-not-cies-block-3 h2,
#block-views-not-cies-block-3 #block-views-area-unitats-block h2,
#block-views-municipis-comarca-block #block-views-actes-agenda-block-6 h2,
#block-views-actes-agenda-block-6 #block-views-municipis-comarca-block h2,
#block-views-area-unitats-block #block-views-actes-agenda-block-6 h2,
#block-views-actes-agenda-block-6 #block-views-area-unitats-block h2,
#block-views-municipis-comarca-block #block-views-agenda-presidencia-block-1 h2,
#block-views-agenda-presidencia-block-1 #block-views-municipis-comarca-block h2,
#block-views-area-unitats-block #block-views-agenda-presidencia-block-1 h2,
#block-views-agenda-presidencia-block-1 #block-views-area-unitats-block h2, #block-views-area-unitats-block #block-views-municipis-comarca-block h2, #block-views-municipis-comarca-block #block-views-area-unitats-block h2, #block-views-municipis-comarca-block #block-views-not-cies-block-6 h2, #block-views-not-cies-block-6 #block-views-municipis-comarca-block h2, #block-views-area-unitats-block #block-views-not-cies-block-6 h2, #block-views-not-cies-block-6 #block-views-area-unitats-block h2, #block-views-municipis-comarca-block #block-views-actes-agenda-block-7 h2, #block-views-actes-agenda-block-7 #block-views-municipis-comarca-block h2, #block-views-area-unitats-block #block-views-actes-agenda-block-7 h2, #block-views-actes-agenda-block-7 #block-views-area-unitats-block h2, #block-views-municipis-comarca-block h4, #block-views-area-unitats-block h4, #block-views-municipis-comarca-block #block-views-municipis-block-1 h2, #block-views-municipis-block-1 #block-views-municipis-comarca-block h2, #block-views-area-unitats-block #block-views-municipis-block-1 h2, #block-views-municipis-block-1 #block-views-area-unitats-block h2, #block-views-municipis-comarca-block h5, #block-views-area-unitats-block h5, #block-views-municipis-comarca-block #block-views-noticies-presidencia-block-2 .view-footer, #block-views-noticies-presidencia-block-2 #block-views-municipis-comarca-block .view-footer, #block-views-area-unitats-block #block-views-noticies-presidencia-block-2 .view-footer, #block-views-noticies-presidencia-block-2 #block-views-area-unitats-block .view-footer,
#block-views-municipis-comarca-block #block-views-not-cies-block-3 .view-footer,
#block-views-not-cies-block-3 #block-views-municipis-comarca-block .view-footer,
#block-views-area-unitats-block #block-views-not-cies-block-3 .view-footer,
#block-views-not-cies-block-3 #block-views-area-unitats-block .view-footer,
#block-views-municipis-comarca-block #block-views-actes-agenda-block-6 .view-footer,
#block-views-actes-agenda-block-6 #block-views-municipis-comarca-block .view-footer,
#block-views-area-unitats-block #block-views-actes-agenda-block-6 .view-footer,
#block-views-actes-agenda-block-6 #block-views-area-unitats-block .view-footer,
#block-views-municipis-comarca-block #block-views-agenda-presidencia-block-1 .view-footer,
#block-views-agenda-presidencia-block-1 #block-views-municipis-comarca-block .view-footer,
#block-views-area-unitats-block #block-views-agenda-presidencia-block-1 .view-footer,
#block-views-agenda-presidencia-block-1 #block-views-area-unitats-block .view-footer, #block-views-municipis-comarca-block #block-views-not-cies-block-6 .view-footer, #block-views-not-cies-block-6 #block-views-municipis-comarca-block .view-footer, #block-views-area-unitats-block #block-views-not-cies-block-6 .view-footer, #block-views-not-cies-block-6 #block-views-area-unitats-block .view-footer, #block-views-municipis-comarca-block #block-views-actes-agenda-block-7 .view-footer, #block-views-actes-agenda-block-7 #block-views-municipis-comarca-block .view-footer, #block-views-area-unitats-block #block-views-actes-agenda-block-7 .view-footer, #block-views-actes-agenda-block-7 #block-views-area-unitats-block .view-footer, #block-views-municipis-comarca-block h6, #block-views-area-unitats-block h6 {
  border-top: 0.4rem solid #0083a9;
}

/* line 14, ../../sass/creation/custom/_elements.scss */
#block-views-municipis-comarca-block h1, #block-views-area-unitats-block h1, #block-views-municipis-comarca-block h2, #block-views-area-unitats-block h2, #block-views-municipis-comarca-block h3, #block-views-area-unitats-block h3, #block-views-municipis-comarca-block #block-views-noticies-presidencia-block-2 h2, #block-views-noticies-presidencia-block-2 #block-views-municipis-comarca-block h2, #block-views-area-unitats-block #block-views-noticies-presidencia-block-2 h2, #block-views-noticies-presidencia-block-2 #block-views-area-unitats-block h2,
#block-views-municipis-comarca-block #block-views-not-cies-block-3 h2,
#block-views-not-cies-block-3 #block-views-municipis-comarca-block h2,
#block-views-area-unitats-block #block-views-not-cies-block-3 h2,
#block-views-not-cies-block-3 #block-views-area-unitats-block h2,
#block-views-municipis-comarca-block #block-views-actes-agenda-block-6 h2,
#block-views-actes-agenda-block-6 #block-views-municipis-comarca-block h2,
#block-views-area-unitats-block #block-views-actes-agenda-block-6 h2,
#block-views-actes-agenda-block-6 #block-views-area-unitats-block h2,
#block-views-municipis-comarca-block #block-views-agenda-presidencia-block-1 h2,
#block-views-agenda-presidencia-block-1 #block-views-municipis-comarca-block h2,
#block-views-area-unitats-block #block-views-agenda-presidencia-block-1 h2,
#block-views-agenda-presidencia-block-1 #block-views-area-unitats-block h2, #block-views-area-unitats-block #block-views-municipis-comarca-block h2, #block-views-municipis-comarca-block #block-views-area-unitats-block h2, #block-views-municipis-comarca-block #block-views-not-cies-block-6 h2, #block-views-not-cies-block-6 #block-views-municipis-comarca-block h2, #block-views-area-unitats-block #block-views-not-cies-block-6 h2, #block-views-not-cies-block-6 #block-views-area-unitats-block h2, #block-views-municipis-comarca-block #block-views-actes-agenda-block-7 h2, #block-views-actes-agenda-block-7 #block-views-municipis-comarca-block h2, #block-views-area-unitats-block #block-views-actes-agenda-block-7 h2, #block-views-actes-agenda-block-7 #block-views-area-unitats-block h2, #block-views-municipis-comarca-block h4, #block-views-area-unitats-block h4, #block-views-municipis-comarca-block #block-views-municipis-block-1 h2, #block-views-municipis-block-1 #block-views-municipis-comarca-block h2, #block-views-area-unitats-block #block-views-municipis-block-1 h2, #block-views-municipis-block-1 #block-views-area-unitats-block h2, #block-views-municipis-comarca-block h5, #block-views-area-unitats-block h5, #block-views-municipis-comarca-block #block-views-noticies-presidencia-block-2 .view-footer, #block-views-noticies-presidencia-block-2 #block-views-municipis-comarca-block .view-footer, #block-views-area-unitats-block #block-views-noticies-presidencia-block-2 .view-footer, #block-views-noticies-presidencia-block-2 #block-views-area-unitats-block .view-footer,
#block-views-municipis-comarca-block #block-views-not-cies-block-3 .view-footer,
#block-views-not-cies-block-3 #block-views-municipis-comarca-block .view-footer,
#block-views-area-unitats-block #block-views-not-cies-block-3 .view-footer,
#block-views-not-cies-block-3 #block-views-area-unitats-block .view-footer,
#block-views-municipis-comarca-block #block-views-actes-agenda-block-6 .view-footer,
#block-views-actes-agenda-block-6 #block-views-municipis-comarca-block .view-footer,
#block-views-area-unitats-block #block-views-actes-agenda-block-6 .view-footer,
#block-views-actes-agenda-block-6 #block-views-area-unitats-block .view-footer,
#block-views-municipis-comarca-block #block-views-agenda-presidencia-block-1 .view-footer,
#block-views-agenda-presidencia-block-1 #block-views-municipis-comarca-block .view-footer,
#block-views-area-unitats-block #block-views-agenda-presidencia-block-1 .view-footer,
#block-views-agenda-presidencia-block-1 #block-views-area-unitats-block .view-footer, #block-views-municipis-comarca-block #block-views-not-cies-block-6 .view-footer, #block-views-not-cies-block-6 #block-views-municipis-comarca-block .view-footer, #block-views-area-unitats-block #block-views-not-cies-block-6 .view-footer, #block-views-not-cies-block-6 #block-views-area-unitats-block .view-footer, #block-views-municipis-comarca-block #block-views-actes-agenda-block-7 .view-footer, #block-views-actes-agenda-block-7 #block-views-municipis-comarca-block .view-footer, #block-views-area-unitats-block #block-views-actes-agenda-block-7 .view-footer, #block-views-actes-agenda-block-7 #block-views-area-unitats-block .view-footer, #block-views-municipis-comarca-block h6, #block-views-area-unitats-block h6 {
  border-bottom: 0.4rem solid white;
}

/* line 15, ../../sass/creation/custom/_elements.scss */
#block-views-noticies-presidencia-block-2 h2,
#block-views-not-cies-block-3 h2,
#block-views-actes-agenda-block-6 h2,
#block-views-agenda-presidencia-block-1 h2, #block-views-not-cies-block-6 h2, #block-views-actes-agenda-block-7 h2 {
  border-bottom: 0.4rem solid #ebebeb;
}

/* line 45, ../../sass/creation/custom/_elements.scss */
#block-views-municipis-comarca-block, #block-views-area-unitats-block {
  background-color: #ebebeb;
}
/* line 47, ../../sass/creation/custom/_elements.scss */
#block-views-municipis-comarca-block h1, #block-views-area-unitats-block h1, #block-views-municipis-comarca-block h2, #block-views-area-unitats-block h2, #block-views-municipis-comarca-block h3, #block-views-area-unitats-block h3, #block-views-municipis-comarca-block #block-views-noticies-presidencia-block-2 h2, #block-views-noticies-presidencia-block-2 #block-views-municipis-comarca-block h2, #block-views-area-unitats-block #block-views-noticies-presidencia-block-2 h2, #block-views-noticies-presidencia-block-2 #block-views-area-unitats-block h2,
#block-views-municipis-comarca-block #block-views-not-cies-block-3 h2,
#block-views-not-cies-block-3 #block-views-municipis-comarca-block h2,
#block-views-area-unitats-block #block-views-not-cies-block-3 h2,
#block-views-not-cies-block-3 #block-views-area-unitats-block h2,
#block-views-municipis-comarca-block #block-views-actes-agenda-block-6 h2,
#block-views-actes-agenda-block-6 #block-views-municipis-comarca-block h2,
#block-views-area-unitats-block #block-views-actes-agenda-block-6 h2,
#block-views-actes-agenda-block-6 #block-views-area-unitats-block h2,
#block-views-municipis-comarca-block #block-views-agenda-presidencia-block-1 h2,
#block-views-agenda-presidencia-block-1 #block-views-municipis-comarca-block h2,
#block-views-area-unitats-block #block-views-agenda-presidencia-block-1 h2,
#block-views-agenda-presidencia-block-1 #block-views-area-unitats-block h2, #block-views-municipis-comarca-block h2, #block-views-area-unitats-block #block-views-municipis-comarca-block h2, #block-views-municipis-comarca-block #block-views-area-unitats-block h2, #block-views-municipis-comarca-block #block-views-area-unitats-block h2, #block-views-area-unitats-block #block-views-municipis-comarca-block h2, #block-views-area-unitats-block h2, #block-views-municipis-comarca-block #block-views-not-cies-block-6 h2, #block-views-not-cies-block-6 #block-views-municipis-comarca-block h2, #block-views-area-unitats-block #block-views-not-cies-block-6 h2, #block-views-not-cies-block-6 #block-views-area-unitats-block h2, #block-views-municipis-comarca-block #block-views-actes-agenda-block-7 h2, #block-views-actes-agenda-block-7 #block-views-municipis-comarca-block h2, #block-views-area-unitats-block #block-views-actes-agenda-block-7 h2, #block-views-actes-agenda-block-7 #block-views-area-unitats-block h2, #block-views-municipis-comarca-block h4, #block-views-area-unitats-block h4, #block-views-municipis-comarca-block #block-views-municipis-block-1 h2, #block-views-municipis-block-1 #block-views-municipis-comarca-block h2, #block-views-area-unitats-block #block-views-municipis-block-1 h2, #block-views-municipis-block-1 #block-views-area-unitats-block h2, #block-views-municipis-comarca-block h5, #block-views-area-unitats-block h5, #block-views-municipis-comarca-block #block-views-noticies-presidencia-block-2 .view-footer, #block-views-noticies-presidencia-block-2 #block-views-municipis-comarca-block .view-footer, #block-views-area-unitats-block #block-views-noticies-presidencia-block-2 .view-footer, #block-views-noticies-presidencia-block-2 #block-views-area-unitats-block .view-footer,
#block-views-municipis-comarca-block #block-views-not-cies-block-3 .view-footer,
#block-views-not-cies-block-3 #block-views-municipis-comarca-block .view-footer,
#block-views-area-unitats-block #block-views-not-cies-block-3 .view-footer,
#block-views-not-cies-block-3 #block-views-area-unitats-block .view-footer,
#block-views-municipis-comarca-block #block-views-actes-agenda-block-6 .view-footer,
#block-views-actes-agenda-block-6 #block-views-municipis-comarca-block .view-footer,
#block-views-area-unitats-block #block-views-actes-agenda-block-6 .view-footer,
#block-views-actes-agenda-block-6 #block-views-area-unitats-block .view-footer,
#block-views-municipis-comarca-block #block-views-agenda-presidencia-block-1 .view-footer,
#block-views-agenda-presidencia-block-1 #block-views-municipis-comarca-block .view-footer,
#block-views-area-unitats-block #block-views-agenda-presidencia-block-1 .view-footer,
#block-views-agenda-presidencia-block-1 #block-views-area-unitats-block .view-footer, #block-views-municipis-comarca-block #block-views-not-cies-block-6 .view-footer, #block-views-not-cies-block-6 #block-views-municipis-comarca-block .view-footer, #block-views-area-unitats-block #block-views-not-cies-block-6 .view-footer, #block-views-not-cies-block-6 #block-views-area-unitats-block .view-footer, #block-views-municipis-comarca-block #block-views-actes-agenda-block-7 .view-footer, #block-views-actes-agenda-block-7 #block-views-municipis-comarca-block .view-footer, #block-views-area-unitats-block #block-views-actes-agenda-block-7 .view-footer, #block-views-actes-agenda-block-7 #block-views-area-unitats-block .view-footer, #block-views-municipis-comarca-block h6, #block-views-area-unitats-block h6 {
  padding: 2rem;
}
/* line 48, ../../sass/creation/custom/_elements.scss */
#block-views-municipis-comarca-block p, #block-views-area-unitats-block p {
  padding: 0 2rem 2rem 2rem;
  border: 0;
  color: #014b60;
}

/* Element dipta-resum */
/* line 63, ../../sass/creation/custom/_elements.scss */
.dipta-resum h1, .dipta-resum h2, .dipta-resum h3, .dipta-resum #block-views-noticies-presidencia-block-2 h2, #block-views-noticies-presidencia-block-2 .dipta-resum h2,
.dipta-resum #block-views-not-cies-block-3 h2,
#block-views-not-cies-block-3 .dipta-resum h2,
.dipta-resum #block-views-actes-agenda-block-6 h2,
#block-views-actes-agenda-block-6 .dipta-resum h2,
.dipta-resum #block-views-agenda-presidencia-block-1 h2,
#block-views-agenda-presidencia-block-1 .dipta-resum h2, .dipta-resum #block-views-municipis-comarca-block h2, #block-views-municipis-comarca-block .dipta-resum h2, .dipta-resum #block-views-area-unitats-block h2, #block-views-area-unitats-block .dipta-resum h2, .dipta-resum #block-views-not-cies-block-6 h2, #block-views-not-cies-block-6 .dipta-resum h2, .dipta-resum #block-views-actes-agenda-block-7 h2, #block-views-actes-agenda-block-7 .dipta-resum h2, .dipta-resum h4, .dipta-resum #block-views-municipis-block-1 h2, #block-views-municipis-block-1 .dipta-resum h2, .dipta-resum h5, .dipta-resum #block-views-noticies-presidencia-block-2 .view-footer, #block-views-noticies-presidencia-block-2 .dipta-resum .view-footer,
.dipta-resum #block-views-not-cies-block-3 .view-footer,
#block-views-not-cies-block-3 .dipta-resum .view-footer,
.dipta-resum #block-views-actes-agenda-block-6 .view-footer,
#block-views-actes-agenda-block-6 .dipta-resum .view-footer,
.dipta-resum #block-views-agenda-presidencia-block-1 .view-footer,
#block-views-agenda-presidencia-block-1 .dipta-resum .view-footer, .dipta-resum #block-views-not-cies-block-6 .view-footer, #block-views-not-cies-block-6 .dipta-resum .view-footer, .dipta-resum #block-views-actes-agenda-block-7 .view-footer, #block-views-actes-agenda-block-7 .dipta-resum .view-footer {
  margin: 5px 0 5px 0;
  font-weight: 600;
}
/* line 64, ../../sass/creation/custom/_elements.scss */
.dipta-resum p {
  margin: 5px 0 5px 0;
  padding: 0;
}
/* line 65, ../../sass/creation/custom/_elements.scss */
.dipta-resum p:after {
  content: " ...";
  font-weight: 600;
  color: #0083a9;
  font-size: 3rem;
}
/* line 66, ../../sass/creation/custom/_elements.scss */
.dipta-resum .dipta-resum-float {
  float: left;
  margin: 5px 5px 0 0;
}
/* line 67, ../../sass/creation/custom/_elements.scss */
.dipta-resum img {
  margin-bottom: 5px;
}

/* line 72, ../../sass/creation/custom/_elements.scss */
#block-views-noticies-presidencia-block-2 .view-content,
#block-views-not-cies-block-3 .view-content,
#block-views-actes-agenda-block-6 .view-content,
#block-views-agenda-presidencia-block-1 .view-content, #block-views-not-cies-block-6 .view-content, #block-views-actes-agenda-block-7 .view-content {
  background-color: #fff;
}
/* line 75, ../../sass/creation/custom/_elements.scss */
#block-views-noticies-presidencia-block-2 .view-content div.dipta-resum,
#block-views-not-cies-block-3 .view-content div.dipta-resum,
#block-views-actes-agenda-block-6 .view-content div.dipta-resum,
#block-views-agenda-presidencia-block-1 .view-content div.dipta-resum, #block-views-not-cies-block-6 .view-content div.dipta-resum, #block-views-actes-agenda-block-7 .view-content div.dipta-resum {
  padding: 2rem 2rem 2rem 2rem;
}
/* line 76, ../../sass/creation/custom/_elements.scss */
#block-views-noticies-presidencia-block-2 .view-content div.dipta-resum:first-child,
#block-views-not-cies-block-3 .view-content div.dipta-resum:first-child,
#block-views-actes-agenda-block-6 .view-content div.dipta-resum:first-child,
#block-views-agenda-presidencia-block-1 .view-content div.dipta-resum:first-child, #block-views-not-cies-block-6 .view-content div.dipta-resum:first-child, #block-views-actes-agenda-block-7 .view-content div.dipta-resum:first-child {
  border-bottom: 0.4rem solid #ebebeb;
}
/* line 77, ../../sass/creation/custom/_elements.scss */
#block-views-noticies-presidencia-block-2 .view-content div.dipta-resum + div.dipta-resum,
#block-views-not-cies-block-3 .view-content div.dipta-resum + div.dipta-resum,
#block-views-actes-agenda-block-6 .view-content div.dipta-resum + div.dipta-resum,
#block-views-agenda-presidencia-block-1 .view-content div.dipta-resum + div.dipta-resum, #block-views-not-cies-block-6 .view-content div.dipta-resum + div.dipta-resum, #block-views-actes-agenda-block-7 .view-content div.dipta-resum + div.dipta-resum {
  padding-right: 2rem;
  border-bottom: 0.4rem solid #ebebeb;
}
/* line 79, ../../sass/creation/custom/_elements.scss */
#block-views-noticies-presidencia-block-2 .view-content div.dipta-resum:last-child,
#block-views-not-cies-block-3 .view-content div.dipta-resum:last-child,
#block-views-actes-agenda-block-6 .view-content div.dipta-resum:last-child,
#block-views-agenda-presidencia-block-1 .view-content div.dipta-resum:last-child, #block-views-not-cies-block-6 .view-content div.dipta-resum:last-child, #block-views-actes-agenda-block-7 .view-content div.dipta-resum:last-child {
  border-bottom: 0!important;
}

/* Element Conacatenats*/
/*
*	Images - Creation
* 
*/
/* Titles Images */
/*Slider -home */
/* line 35, ../../sass/creation/custom/_images.scss */
.btn-slider-left {
  display: inline-block;
  height: 36px;
  width: 144px;
  background-image: url("../images/bg-slideshowarrowleft.png");
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  text-indent: -119988px;
}

/* line 41, ../../sass/creation/custom/_images.scss */
.btn-slider-left:hover {
  background-image: url("../images/bg-slideshowarrowlefthover.png");
}

/* line 42, ../../sass/creation/custom/_images.scss */
.btn-slider-rigth {
  height: 36px;
  width: 144px;
  display: inline-block;
  background-image: url("../images/bg-slideshowarrowright.png");
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  text-indent: -119988px;
}

/* line 48, ../../sass/creation/custom/_images.scss */
.btn-slider-rigth:hover {
  background-image: url("../images/bg-slideshowarrowrighthover.png");
}

/* line 50, ../../sass/creation/custom/_images.scss */
.dipta-galeria {
  background-color: #ccc;
  width: 677px;
  height: 112;
}
/* line 51, ../../sass/creation/custom/_images.scss */
.dipta-galeria img {
  margin: 1.7rem 1rem 0 2rem;
}

/*
*	Box - Creations
*	Menus + breadcrums 
*
*/
/*
*	Forms - Creation
*	Menus + breadcrums + box navigations
*
*/
/*Creation layouts*/
/*
*
*	Susy - Creation base
*   http://www.responsinator.com
*	http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
*/
/* Visual Grid Susy for REM 1rem=>10px*/
/*
lighten($verd, 20%);
darken($verd, 20%);
saturate($verd, 10%);
desaturate($verd, 10%);
grayscale($verd);
invert($verd);
*/
/* line 38, ../../sass/creation/layouts/_responsive-creation.scss */
html {
  /*Typography responsive for compass breakpoints*/
  font-size: 62.5%;
  /*
   @include at-breakpoint($iphone4) { font-size:62.5%; }
   @include at-breakpoint($ipad) { font-size:62.5%; }
   @include at-breakpoint($ipad-landscape) { font-size:62.5%; }
   */
}

/* line 26, ../../sass/creation/_creation.scss */
html {
  color: #464646;
  font-size: 62.5%;
  /*Typography responsive for compass breakpoints*/
  /*responsive-creation.scss*/
}

/* line 32, ../../sass/creation/_creation.scss */
body {
  /*$font1: 'Open Sans', sans-serif;*/
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  line-height: 2.3rem;
}

/*Syntax custom*/
/* line 42, ../../sass/creation/_creation.scss */
code {
  font-size: 1.2rem;
  font-family: Consolas,Monaco,"Andale Mono",monospace;
}

/* line 43, ../../sass/creation/_creation.scss */
pre {
  overflow-x: scroll !important;
  overflow-y: scroll !important;
}

/* line 15, ../../sass/partials/views-blocs.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
}

/* line 23, ../../sass/partials/views-blocs.scss */
#block-views-noticies-presidencia-block-2,
#block-views-not-cies-block-3,
#block-views-actes-agenda-block-6,
#block-views-agenda-presidencia-block-1 {
  margin: 5% 3% 10% 0;
}
/* line 26, ../../sass/partials/views-blocs.scss */
#block-views-noticies-presidencia-block-2 h2,
#block-views-not-cies-block-3 h2,
#block-views-actes-agenda-block-6 h2,
#block-views-agenda-presidencia-block-1 h2 {
  border-bottom-color: white !important;
  background-color: #ebebeb;
  color: #0083a9;
}
/* line 27, ../../sass/partials/views-blocs.scss */
#block-views-noticies-presidencia-block-2 .dipta-resum,
#block-views-not-cies-block-3 .dipta-resum,
#block-views-actes-agenda-block-6 .dipta-resum,
#block-views-agenda-presidencia-block-1 .dipta-resum {
  background-color: #ebebeb;
  border-bottom: 0.4rem solid white !important;
}

/* line 34, ../../sass/partials/views-blocs.scss */
#block-views-municipis-comarca-block, #block-views-area-unitats-block {
  margin-top: 50px !important;
  margin: 2%;
  padding-bottom: 2%;
}
/* line 38, ../../sass/partials/views-blocs.scss */
#block-views-municipis-comarca-block h2, #block-views-area-unitats-block h2 {
  margin: 0;
  color: #0083a9;
}

/* line 42, ../../sass/partials/views-blocs.scss */
#block-views-municipis-block-1 {
  margin: 0 2%;
}
/* line 43, ../../sass/partials/views-blocs.scss */
#block-views-municipis-block-1 h2 {
  padding: 1rem 0 1rem 0;
  border-bottom: 0.1rem solid #ebebeb;
  font-weight: 700;
  color: #014b60;
}

/* line 47, ../../sass/partials/views-blocs.scss */
#block-views-not-cies-block-6, #block-views-actes-agenda-block-7 {
  margin: 2%;
  margin-top: 50px;
}
/* line 50, ../../sass/partials/views-blocs.scss */
#block-views-not-cies-block-6 h2, #block-views-actes-agenda-block-7 h2 {
  border-bottom-color: white !important;
  background-color: #ebebeb;
  color: #0083a9;
}
/* line 52, ../../sass/partials/views-blocs.scss */
#block-views-not-cies-block-6 .dipta-resum, #block-views-actes-agenda-block-7 .dipta-resum {
  background-color: #ebebeb;
  border-bottom: 0.4rem solid white !important;
}

/* line 55, ../../sass/partials/views-blocs.scss */
#block-views-actes-agenda-block-7 {
  margin-right: 4%;
}

/* line 58, ../../sass/partials/views-blocs.scss */
#block-views-publicacio-revistadipu-block-2 {
  font-size: 1.245rem;
  line-height: 1.5rem;
  background-color: #47A2BD;
}
/* line 61, ../../sass/partials/views-blocs.scss */
#block-views-publicacio-revistadipu-block-2 h2 {
  margin: 0;
  color: #fff;
  background-color: #0083A9;
  padding: 2rem 4rem 2rem 2rem;
  border-top: 4px solid #47a2bd;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 600;
}
/* line 62, ../../sass/partials/views-blocs.scss */
#block-views-publicacio-revistadipu-block-2 .publicacio {
  padding: 2rem 4rem 2rem 2rem;
  border-bottom: 1px solid #79b8cb;
  color: #fff;
  background-color: #47A2BD;
}
/* line 63, ../../sass/partials/views-blocs.scss */
#block-views-publicacio-revistadipu-block-2 .descarrega-pdf a {
  color: #014b60;
}

/* line 70, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block,
#block-views-banners-home-block-1,
#block-views-banners-home-block-3 {
  position: relative;
}
/* line 73, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block .view-content > ul > li,
#block-views-banners-home-block .views-row, #block-views-banners-home-block .dipta-banner,
#block-views-banners-home-block-1 .view-content > ul > li,
#block-views-banners-home-block-1 .views-row,
#block-views-banners-home-block-1 .dipta-banner,
#block-views-banners-home-block-3 .view-content > ul > li,
#block-views-banners-home-block-3 .views-row,
#block-views-banners-home-block-3 .dipta-banner {
  position: relative;
}
/* line 76, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block .info-banner,
#block-views-banners-home-block-1 .info-banner,
#block-views-banners-home-block-3 .info-banner {
  background: #f0f7f9;
  background: rgba(240, 245, 249, 0.9);
  position: absolute;
}

/* Slideshow portada */
/* line 85, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block .info-banner {
  top: 25px;
  left: 20px;
  padding: 20px;
  margin-bottom: 0.5%;
  background-color: rgba(240, 245, 249, 0.9);
  width: 251px;
  height: 168px;
}
/* line 93, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block h2 {
  color: #0083a9;
  margin: 0;
  margin-bottom: 0.7rem;
}
/* line 97, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block .text-banner {
  line-height: 1.8rem;
  color: #464646;
  font-weight: 100;
}
/* line 100, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block .views-field-field-dipta-banner-link {
  margin-top: 1em;
}
/* line 103, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block .views-slideshow-controls-bottom {
  left: 20px;
  position: absolute;
  top: 236px;
  z-index: 1000;
}
/* line 108, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block .views-slideshow-controls-bottom a {
  background-color: #f0f7f9;
  background-color: rgba(240, 245, 249, 0.9);
  display: inline-block;
  height: 36px;
  width: 144px;
}
/* line 115, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block .views-slideshow-controls-bottom .views-slideshow-controls-text-previous a {
  background-image: url("../../images/bg-slideshowarrowleft.png");
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
/* line 118, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block .views-slideshow-controls-bottom .views-slideshow-controls-text-previous a:hover {
  background-image: url("../../images/bg-slideshowarrowlefthover.png");
}
/* line 122, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block .views-slideshow-controls-bottom .views-slideshow-controls-text-next a {
  background-image: url("../../images/bg-slideshowarrowright.png");
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
/* line 125, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block .views-slideshow-controls-bottom .views-slideshow-controls-text-next a:hover {
  background-image: url("../../images/bg-slideshowarrowrighthover.png");
}
/* line 129, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block .views-slideshow-controls-bottom .views-slideshow-controls-text-pause {
  display: none;
}

/* Banners laterals */
/* line 137, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block-1 .dipta-banner,
#block-views-banners-home-block-3 .dipta-banner {
  margin-bottom: 2rem;
}
/* line 139, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block-1 .info-banner,
#block-views-banners-home-block-3 .info-banner {
  left: 10px;
  top: 10px;
  padding: 8px 10px 33px;
  width: 91px;
  background-image: url("../../images/bg-banner-button.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}
/* line 147, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block-1 .info-banner .text-banner,
#block-views-banners-home-block-3 .info-banner .text-banner {
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #464646;
}
/* line 152, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block-1 h3, #block-views-banners-home-block-1 #block-views-noticies-presidencia-block-2 h2, #block-views-noticies-presidencia-block-2 #block-views-banners-home-block-1 h2,
#block-views-banners-home-block-1 #block-views-not-cies-block-3 h2,
#block-views-not-cies-block-3 #block-views-banners-home-block-1 h2,
#block-views-banners-home-block-1 #block-views-actes-agenda-block-6 h2,
#block-views-actes-agenda-block-6 #block-views-banners-home-block-1 h2,
#block-views-banners-home-block-1 #block-views-agenda-presidencia-block-1 h2,
#block-views-agenda-presidencia-block-1 #block-views-banners-home-block-1 h2, #block-views-banners-home-block-1 #block-views-municipis-comarca-block h2, #block-views-municipis-comarca-block #block-views-banners-home-block-1 h2, #block-views-banners-home-block-1 #block-views-area-unitats-block h2, #block-views-area-unitats-block #block-views-banners-home-block-1 h2, #block-views-banners-home-block-1 #block-views-not-cies-block-6 h2, #block-views-not-cies-block-6 #block-views-banners-home-block-1 h2, #block-views-banners-home-block-1 #block-views-actes-agenda-block-7 h2, #block-views-actes-agenda-block-7 #block-views-banners-home-block-1 h2,
#block-views-banners-home-block-3 h3,
#block-views-banners-home-block-3 #block-views-noticies-presidencia-block-2 h2,
#block-views-noticies-presidencia-block-2 #block-views-banners-home-block-3 h2,
#block-views-banners-home-block-3 #block-views-not-cies-block-3 h2,
#block-views-not-cies-block-3 #block-views-banners-home-block-3 h2,
#block-views-banners-home-block-3 #block-views-actes-agenda-block-6 h2,
#block-views-actes-agenda-block-6 #block-views-banners-home-block-3 h2,
#block-views-banners-home-block-3 #block-views-agenda-presidencia-block-1 h2,
#block-views-agenda-presidencia-block-1 #block-views-banners-home-block-3 h2,
#block-views-banners-home-block-3 #block-views-municipis-comarca-block h2,
#block-views-municipis-comarca-block #block-views-banners-home-block-3 h2,
#block-views-banners-home-block-3 #block-views-area-unitats-block h2,
#block-views-area-unitats-block #block-views-banners-home-block-3 h2,
#block-views-banners-home-block-3 #block-views-not-cies-block-6 h2,
#block-views-not-cies-block-6 #block-views-banners-home-block-3 h2,
#block-views-banners-home-block-3 #block-views-actes-agenda-block-7 h2,
#block-views-actes-agenda-block-7 #block-views-banners-home-block-3 h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 0;
}
/* line 155, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block-1 h3 a, #block-views-banners-home-block-1 #block-views-noticies-presidencia-block-2 h2 a, #block-views-noticies-presidencia-block-2 #block-views-banners-home-block-1 h2 a,
#block-views-banners-home-block-1 #block-views-not-cies-block-3 h2 a,
#block-views-not-cies-block-3 #block-views-banners-home-block-1 h2 a,
#block-views-banners-home-block-1 #block-views-actes-agenda-block-6 h2 a,
#block-views-actes-agenda-block-6 #block-views-banners-home-block-1 h2 a,
#block-views-banners-home-block-1 #block-views-agenda-presidencia-block-1 h2 a,
#block-views-agenda-presidencia-block-1 #block-views-banners-home-block-1 h2 a, #block-views-banners-home-block-1 #block-views-municipis-comarca-block h2 a, #block-views-municipis-comarca-block #block-views-banners-home-block-1 h2 a, #block-views-banners-home-block-1 #block-views-area-unitats-block h2 a, #block-views-area-unitats-block #block-views-banners-home-block-1 h2 a, #block-views-banners-home-block-1 #block-views-not-cies-block-6 h2 a, #block-views-not-cies-block-6 #block-views-banners-home-block-1 h2 a, #block-views-banners-home-block-1 #block-views-actes-agenda-block-7 h2 a, #block-views-actes-agenda-block-7 #block-views-banners-home-block-1 h2 a,
#block-views-banners-home-block-3 h3 a,
#block-views-banners-home-block-3 #block-views-noticies-presidencia-block-2 h2 a,
#block-views-noticies-presidencia-block-2 #block-views-banners-home-block-3 h2 a,
#block-views-banners-home-block-3 #block-views-not-cies-block-3 h2 a,
#block-views-not-cies-block-3 #block-views-banners-home-block-3 h2 a,
#block-views-banners-home-block-3 #block-views-actes-agenda-block-6 h2 a,
#block-views-actes-agenda-block-6 #block-views-banners-home-block-3 h2 a,
#block-views-banners-home-block-3 #block-views-agenda-presidencia-block-1 h2 a,
#block-views-agenda-presidencia-block-1 #block-views-banners-home-block-3 h2 a,
#block-views-banners-home-block-3 #block-views-municipis-comarca-block h2 a,
#block-views-municipis-comarca-block #block-views-banners-home-block-3 h2 a,
#block-views-banners-home-block-3 #block-views-area-unitats-block h2 a,
#block-views-area-unitats-block #block-views-banners-home-block-3 h2 a,
#block-views-banners-home-block-3 #block-views-not-cies-block-6 h2 a,
#block-views-not-cies-block-6 #block-views-banners-home-block-3 h2 a,
#block-views-banners-home-block-3 #block-views-actes-agenda-block-7 h2 a,
#block-views-actes-agenda-block-7 #block-views-banners-home-block-3 h2 a {
  text-decoration: none;
}
/* line 159, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block-1 .views-field-field-dipta-banner-link,
#block-views-banners-home-block-3 .views-field-field-dipta-banner-link {
  font-size: 1.245rem;
  margin-top: 0.6em;
}
/* line 163, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block-1 img,
#block-views-banners-home-block-3 img {
  display: block;
}

/* Banners inferiors */
/* line 168, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block-3 {
  margin-bottom: 0;
  margin-left: 2rem;
}
/* line 171, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block-3 .view-content {
  margin-top: 20px;
}
/* line 173, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block-3 .view-content ul {
  margin: 0;
  overflow: hidden;
  padding: 0;
}
/* line 178, ../../sass/partials/views-blocs.scss */
#block-views-banners-home-block-3 .view-content li {
  list-style: none;
  margin: 0 20px 20px 0;
}

@media all and (min-width: 480px) and (max-width: 959px) {
  /* line 189, ../../sass/partials/views-blocs.scss */
  #block-views-banners-home-block-3 .view-content li {
    float: left;
  }
  /* line 191, ../../sass/partials/views-blocs.scss */
  #block-views-banners-home-block-3 .view-content li:nth-child(3n) {
    margin-right: 0;
  }
  /* line 194, ../../sass/partials/views-blocs.scss */
  #block-views-banners-home-block-3 .view-content li:nth-child(3n+1) {
    clear: left;
  }
}
@media all and (min-width: 960px) {
  /* line 204, ../../sass/partials/views-blocs.scss */
  #block-views-banners-home-block-3 {
    margin-left: 0;
  }
  /* line 207, ../../sass/partials/views-blocs.scss */
  #block-views-banners-home-block-3 .view-content li {
    float: left;
  }
  /* line 209, ../../sass/partials/views-blocs.scss */
  #block-views-banners-home-block-3 .view-content li:nth-child(4n) {
    margin-right: 0;
  }
  /* line 212, ../../sass/partials/views-blocs.scss */
  #block-views-banners-home-block-3 .view-content li:nth-child(4n+1) {
    clear: left;
  }
}
/* line 221, ../../sass/partials/views-blocs.scss */
#block-menu-block-5 {
  background: none repeat scroll 0 0 white;
  border-top: 4px solid #0083a9;
  margin-top: 10px;
}
/* line 225, ../../sass/partials/views-blocs.scss */
#block-menu-block-5 h2 {
  background: url("../../images/escut-dipta.png") no-repeat scroll left center transparent;
  color: #0083A9;
  font-size: 1.69231em;
  line-height: 1.63636em;
  margin: 0;
  background-position: 20px center;
  border-bottom: 2px solid #ebebeb;
  padding: 12px 20px 12px 50px;
}
/* line 236, ../../sass/partials/views-blocs.scss */
#block-menu-block-5 li {
  width: 30%;
  display: inline-block;
  list-style: none;
  background-color: #FFF!important;
  border-top: none!important;
  margin-bottom: 20px;
  font-weight: bold;
  float: none;
}
/* line 245, ../../sass/partials/views-blocs.scss */
#block-menu-block-5 li:before {
  content: "\00BB \0020";
  color: #0083A9;
}
/* line 249, ../../sass/partials/views-blocs.scss */
#block-menu-block-5 li .menu {
  float: none;
  width: 600px;
  background-color: pink;
}
/* line 253, ../../sass/partials/views-blocs.scss */
#block-menu-block-5 li .menu li {
  width: 30%;
  font-weight: normal;
  display: inline-block;
  list-style: none;
}
/* line 258, ../../sass/partials/views-blocs.scss */
#block-menu-block-5 li .menu li:before {
  content: "\00BB \0020";
  float: left;
  width: 100px;
  color: #0083A9;
}

/*BLOCS FOOTER*/
/*
#footer .block-menu-block{ ul.menu:first-child > li > a { font-weight: bold; } }
#footer .block-menu-block ul.menu:first-child > li:nth-child(3n+1){ float:right; clear:none!important; }
#block-block-5{ }
#block-block-6 { }

*/
