/*
*
*	Susy - Creation base
*   http://www.responsinator.com
*	http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
*/

@import "susy";  

/* Visual Grid Susy for REM 1rem=>10px*/
$total-columns: 12;             // a 12-column grid
$column-width: 6rem;            // each column is 4em wide
$gutter-width: 2rem;            // 1em gutters between columns
$grid-padding: $gutter-width;  // grid-padding equal to gutters

$grid-background-column-color:saturate(yellow, 20%);
$grid-background-gutter-color:#fff;

$border-box-sizing : false;

$iphone4: 4 320px; 
$iphone4-landscape:321px 5 480px; 
$iphone5-landscape:481px 6 568px;
$kindle:569px 8 767px;
$ipad:768px 11 939px ;
$ipad-landscape:940px 12  ;


/*
lighten($verd, 20%);
darken($verd, 20%);
saturate($verd, 10%);
desaturate($verd, 10%);
grayscale($verd);
invert($verd);
*/

html{
	/*Typography responsive for compass breakpoints*/
	font-size:62.5%; 
	/*
	 @include at-breakpoint($iphone4) { font-size:62.5%; }
	 @include at-breakpoint($ipad) { font-size:62.5%; }
	 @include at-breakpoint($ipad-landscape) { font-size:62.5%; }
	 */
}


