
@import "../creation/_creation"; 

.jcarousel-skin-default { 
  .jcarousel-container-horizontal {
    height: 85px;
    width: 90%;
    padding-bottom: 0;
  }
  .jcarousel-clip-horizontal {
    width: 100%;
  }
  .jcarousel-item {
    border: none;
    background: transparent;
  }
  .jcarousel-item-horizontal {
    margin: 0;
  }
  .jcarousel-next {
    background: url(../../images/carousel-next.png) no-repeat left top;
    &:hover {
      background-position: left top;
    }
  }
  
.jcarousel-next-horizontal {
    right: 0;
 }
 .jcarousel-prev {
    background: url(../../images/carousel-prev.png) no-repeat left top;
    &:hover {
      background-position: left top;
    }
  }
} /*fin skin-default*/


 
/* Corporate caroussel */
.corporate .jcarousel-skin-default {
  .jcarousel-clip-horizontal {
    border-left: 1px solid #e6e6e6;
  }
  .jcarousel-item {
    height: 65px;
    width: 99px;
    padding: 10px;
    border-right: 1px solid #e6e6e6;
  }
  .jcarousel-next { 
    background-image: url(../../images/carousel-home-next.png);
  }
  .jcarousel-prev { 
    background-image: url(../../images/carousel-home-prev.png);
  }
}


/* Detail page with caroussel */
.field-name-field-galeria-noticia,.field-name-field-dipta-carretera-galeria,.field-name-field-imatges-galeria{
 
margin:2%;margin-top:3%;
.jcarousel-skin-default {
	
	.jcarousel-container-horizontal{padding-top:2%!important;padding-bottom:2%!important;background-color: #EBEBEB;}
	.jcarousel-item {
		height: 75px;
		width: 100px;
		padding: 4px;
		margin:3px;
		background-color:#fff;
  }
  .jcarousel-prev ,.jcarousel-next{ width: 20px;}
}

}

 
div#content {
.jcarousel-container:before{
	//content:"Galeria d'imatges";
    font-size: 17px;
    line-height: 2em;
    position: absolute;
	font-weight: 300;
    top: -43px;
	left: 0;
	}
}


/*BUG: solucio temporal al responsive jcarousel*/
.jcarousel-container-horizontal {
padding-right:5% !important;
padding-left:5% !important;
}