
@import "../creation/_creation"; 
$pad:2%;

//[Camps generals] [NODE]
#content{
	.title{ padding:0 2%; margin-top:15px; }
	.dipta-subtitol,.dipta-title{padding:0 2%;}
	 blockquote{ margin:2%;}
	.capcalera{ height:279px; img{padding:0;} }
	.dipta-cos{ @extend %dipta-body;margin:2%;} 
	/*Imatge amb caption ->field-slideshow */
	.field-slideshow {overflow-x:visible; overflow-y:visible;padding-bottom:0px !important;}
	.dipta-box-quote{margin-bottom:3rem !important; border-bottom:0;}
	.dipta-tag{}
	/*Title secció:Agrupació de camps*/
	.field-group-format{h2{padding:1rem 0 1rem 0; border-bottom:0.1rem solid $base05; @extend h4; font-weight:700;  color:$base02;} }
	.group-dades-generals,.group-dades-contacte {margin:0 2% 0 2%;}
	/*dipta fields*/
	.dipta-camp{ 
		div.label-inline{ @extend h5; font-weight:700;}
		span{padding-left:0.5rem;} 
		//[Adreça postal]
			.dipta-postal{
				 width:39%;
				.state,.street-block,.locality-block ,.name-block{display:block!important;  line-height: 13px;}
				.addressfield-container-inline:before { content: none!important;display:block !important; }
				.addressfield-container-inline span{padding-left:0!important;}
				.country {display:none !important;}
			}
		}
	/*imprimir - enviar- pdf*/	
	.links{ display: block !important;text-align:right;background-color: #F0F7F9;clear: both; font-size:10px;padding:0;
		margin:0 2% 0 2%;li{margin:0px;a{}} }
		
	/*Imatges-> pagina basica - noticia - agenda etc*/	
	.dipta-no-float{
			
			padding:2%;clear:both; img{float:none;}
			.field-slideshow {overflow-x:visible; overflow-y:visible;outline: 1px solid $base05; img{display:block;}}
			.field-slideshow-pager {
			text-align:center; 
			a{font-size:3px;@include border-radius(25px); background-color:#ccc;color:transparent;padding:1px 3px 1px 3px;margin:1px;width:100%;}
			a.activeSlide{background-color:#555;}
			}
			/*Descarregar imatge original*/
			.original{
				display:block;float:right;
				background-image:url("../../images/ico-file-download.png");background-repeat: no-repeat;background-size: auto auto;background-position: center center;
				padding: 0 2% 20px 2%;
			}
	}
	/*Imatges-> pagina basica - noticia - agenda etc*/		
	.dipta-float {
			 width:300px;float:left;margin: 3% 2% 0 2%;
			
			.activeSlide{background-color:#555;}
			.field-slideshow {overflow-x:visible; overflow-y:visible;outline: 1px solid $base05; img{display:block;}}
			.field-slideshow-wrapper{  
				width:300px!important;
				.field-slideshow-pager {
				text-align:center; 
				a{font-size:3px;@include border-radius(25px); background-color:#ccc;color:transparent;padding:1px 3px 1px 3px;margin:1px;width:100%;}
				a.activeSlide{background-color:#555;}
				}	
			}
			/*Descarregar imatge original*/
			.original{
				display:block;float:right;background-image:url("../../images/ico-file-download.png");background-repeat: no-repeat;background-size: auto auto;background-position: center center;
				padding: 0 3% 20px 3%;
			}
	}
	/* Mapa adreces postals*/
	.dipta-mapa{ padding:10px; margin-top:-10px;margin-left:45%;width:356px;
		.openlayers-map-map_adreca_municipi,.openlayers-container-map-map_adreca_consell {border:0px solid #ccc;}
	}
			
}


//[Acte-Agenda] [NODE]
.node-dipta-acte {
	.group-dades-acte { margin:2%;.group_da_acte {width:45%;position:absolute;}}
	.group_roda_acte{margin:2%;}
}

//[Municipi + Comarca] 
.node-dipta-municipis,.node-dipta-comarques {
	.links{ margin-top:20px !important;}
	.group-dades-municipi,.group-dades-comarca{margin:2%; .dipta-camp{display:inline-block;margin-right:2%;} h2{margin-top:0;}}
	.group-ajuntament-presen,.group-dades-consell{margin:2%; .group-consell,.group-ajuntament   {width:45%;position:absolute;} }
	
}

//[Arees-i Unitats]
.node-dipta-area  {

	
}

//[Serveis] @extend %border-top-blue; @extend %border-bottom-fff; @extend %border-bottom-eb; */
.seccions-destacades {
	margin:4% 2% 0 2%;background-color:#F0F7F9;
	h2{ padding:2rem; @extend %border-bottom-fff;  @extend %border-top-blue;color:$base03;} 
	
	.destacat-content{
		width:33% !important;
		padding:2% 2% 0 3% !important;
			.foto-des {box-shadow: 0 0 0px #333333;padding:0; border:none !important;}
			.descripcio,{margin-top:-12px; padding:0 !important;text-overflow:ellipsis;}
			.destacat-resum{margin-top:3px; padding:0 !important;text-overflow:ellipsis;}
			h3{ margin:3px 0 3px 0!important; font-size:18px !important; font-weight: 300 !important;}
		}	
}

// [Carreteres-Obres]
.grid-obra{width:45%;border-bottom:1px solid #EBEBEB;padding:2%;h3,h2{margin:1px;}}
.grid-obra-licitacio{border-bottom:1px solid #EBEBEB;padding:2% 1% 2% 1%;h3,h2{margin:1px;}}
.clear-float{clear:both;}
.view-display-id-block_1,.view-display-id-block_3{
	.concatenats {padding:0!important;span{padding:0;border-left:0px solid #fff;}}
	.municipi{ margin-left:5px;padding-left: 5px !important;border-left:1px solid #ccc !important;}
}

// [Imatge-corporativa]
.view-imatge-corporativa {margin:0!important;padding:2%;border:none !important;}
.centre{ img{float:left; padding:2%;} .file{background-color:#ebebeb;padding:0 1% 1% 1%;} 
		.manual{margin-top:20px; clear:both;}}
		
//[Diputat]
.group-interes-diputat{padding:2% !important;}
.title-camp{font-weight: 700 !important;border-bottom: 1px solid #EBEBEB;
	font-family: 'Roboto Condensed'!important;
	padding: 5px 0 5px 0;margin-right:2%!important;}
.image-diputat{float:left; width:30%;}
.view-diputats-d-un-partit {
	.views-field-title{width: 23%px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
	h3{clear:both;@extend .title-camp; padding:2%;}
 }
 
.grid-diputat{width:23%; padding:1%;float:left;}

 
 //[Formació - NODE]
 div.container_formacio  {
	div.label-inline{margin:0.5em 0;float:left;display:block;}
		span{ 
			margin:0.5em 0;padding:0;display:block;
		}
 }


 //[Publicacions]
 div.container_publicacio { 
 
	img{float:left;display:block;margin:0.5em 2em 1em 0.2em;} 
	div.data_pub,h2{margin:0;padding:0;}
	span.file{display:inline-block;}
	margin-bottom:2em;
	
 }
 
 /* ALtres*/
 
 
.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    /*@include unpublished-div;*/
  }
}

.pepinillo_trans {
	
	left: 20px;
	position: absolute;
	top:0;
	padding: 0 20px;
	

  h1 {
    color: $base03;
	background-color: rgba(255,255,255,0.9);
    line-height: 15px;
	font-size:18px;
    margin: 0;
    top: 10px;
  }
  h2.subtitol{
    color: $base03;
	background-color: rgba(255,255,255,0.9);
	font-size:14px;
  
  }
  
  .field-name-body {
    /*@include adjust-font-size-to(14px);*/
    padding-bottom: 15px;
    padding-top: 15px;
    top: 102px;
    p {
      margin: 0;
    }
  }
}

