/*
*
*	Responsive Custom 
*   http://www.responsinator.com
*	http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
*/

$verd:#3DE0A1;

@mixin dipta-container-width{
	@include at-breakpoint($iphone4) { @include set-container-width; }
	@include at-breakpoint($iphone4-landscape) { @include set-container-width; }
	@include at-breakpoint($iphone5-landscape) { @include set-container-width; }
	@include at-breakpoint($kindle) { @include set-container-width; }
	@include at-breakpoint($ipad) { @include set-container-width; }
	@include at-breakpoint($ipad-landscape) { @include set-container-width; }
}

@mixin dipta-grid-show{
	@include susy-grid-background;
	@include at-breakpoint($iphone4) { @include set-container-width; @include susy-grid-background; }
	@include at-breakpoint($iphone4-landscape) { @include set-container-width; @include susy-grid-background; }
	@include at-breakpoint($iphone5-landscape) { @include set-container-width; @include susy-grid-background; }
	@include at-breakpoint($kindle) { @include set-container-width; @include susy-grid-background; }
	@include at-breakpoint($ipad) { @include set-container-width; @include susy-grid-background; }
	@include at-breakpoint($ipad-landscape) { @include set-container-width; @include susy-grid-background; }
	a {color:$base01 !important;}
}

@mixin dipta-grid-color-change{
	@include at-breakpoint($iphone4) { background-color:lighten($verd, 10%); }
	@include at-breakpoint($iphone4-landscape) { background-color:darken($verd, 40%);}
	@include at-breakpoint($iphone5-landscape) { background-color:saturate($verd, 10%);}
	@include at-breakpoint($kindle) { background-color:desaturate($verd, 50%); }
	@include at-breakpoint($ipad) { background-color:$verd; }
	@include at-breakpoint($ipad-landscape) { background-color:invert($verd);}
}
