/**
 * @file
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
//@import "_zen.scss";
@import "base";

/* background-color:transparent */
//body,#main,.main-content{background-color:transparent!important;}
//.not-front #main .main-content {background: none repeat scroll 0 0 #FFFFFF;background-color:transparent!important;}

// We are going to create a 980px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count:  12;
$zen-gutter-width:  20px;

// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;


// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
//$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

/*
 * Center the page.
 */
.region-header,
#page,
.header-content,
.navigation-wrapper,
.breadcrumb ol,
.main-content,
.region-banners,
.region-corporate,
.region-footer,
.region-bottom,
.footer-wrapper {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
// See the note about $zen-auto-include-item-base above.
.region-header,
#header .header-content,
#content,
#navigation .navigation-wrapper,
.region-sidebar-first,
.region-sidebar-second,
.region-footer,
.region-bottom, {
 /* @include zen-grid-item-base();*/
}

/* Contenidors */
#page-header,
#header,
#main,
.banners,
.corporate,
#footer {
  @include zen-grid-container();
}

/*iphone*/
@media all and (min-width:320px) and (max-width: 479px){
/*test*/
$zen-column-count: 12;
#content{background-color:#fff !important;padding:0;}
 .sidebar-first {
    #content {  @include zen-grid-item(12, 1);}
    .region-sidebar-first { @include zen-clear(); @include zen-grid-item(12, 1);}
  }

	

/*Footer*/
#footer{
 $zen-column-count: 12;
.region-footer-first{@include zen-grid-item(12, 1);@include zen-clear();}
.region-footer-second{@include zen-grid-item(12, 1);@include zen-clear();}
.region-footer-third{@include zen-grid-item(12, 1);@include zen-clear();}
}
	
}/* iphone *********/


/* Tablet*/
@media all and (min-width: 480px) and (max-width: 959px) {
  $zen-column-count: 12;
  #content{background-color:#fff !important;padding:0;}
  .sidebar-first {
    #content {  @include zen-grid-item(9, 4);}
    .region-sidebar-first { @include zen-grid-item(3, 1);}
  }
  
  .sidebar-second {
    #content { @include zen-grid-item(9, 1);}
    .region-sidebar-second {  @include zen-grid-item(3, 9);}
	}
  .two-sidebars {
    #content { @include zen-grid-item(2, 2);}
    .region-sidebar-first { @include zen-grid-item(1, 1); }
    .region-sidebar-second { 
      @include zen-grid-item(3, 1);
      @include zen-nested-container(); // Since we're making every block in this region be a grid item.
      @include zen-clear();
      .block {@include zen-grid-item-base();}
      .block:nth-child(3n+1) { @include zen-grid-item(1, 1);@include zen-clear(); }
      .block:nth-child(3n+2) { @include zen-grid-item(1, 2);}
      .block:nth-child(3n) { @include zen-grid-item(1, 3);}
    }
  }  
  
 
}/* Tablet ***********/

/*Escriptori 960px*/
@media all and (min-width: 960px) {
  $zen-column-count: 4;
  $c1:#FFF;
  .sidebar-first {
  
    #content { @include zen-grid-item(3, 2); padding:0; background-color:$c1;}
    .region-sidebar-first { @include zen-grid-item(1, 1);}
  }
  .sidebar-second {
    #content {@include zen-grid-item(3, 1);padding-left:0;}
    .region-sidebar-second {  @include zen-grid-item(1, 4);}
  }

  .two-sidebars {
    #content { @include zen-grid-item(2, 2);}
    .region-sidebar-first {@include zen-grid-item(1, 1);}
    .region-sidebar-second { @include zen-grid-item(1, 4);}
  }




/*Footer*/
#footer{
 $zen-column-count: 12;
.region-footer-first{@include zen-grid-item(3, 1);}
.region-footer-second{@include zen-grid-item(9, 4);padding-top:25px;}
.region-footer-third{@include zen-grid-item(1, 10);}
}

}/*Escriptori *********/










.quicktabs-ui-wrapper{
border:none;
	.ui-tabs-nav{
	padding-left:30px !Important;
		li{border:none;}
		 background-color:#fff;padding:0; border:none; background-image:none;
		.ui-state-default{a{color:#79B8CB;}background-color:#fff;background-image:none;}
		.ui-state-active{background-image:none;background-color:fff!important; a{color:#47A2BD; font-weight: bold;}}
	
	}

}
.ui-widget-content {color:#464646; a{color: #0083A9;}}

.oferta-treball{padding:2% 6% 2% 6%; h3{margin:1px;} border-bottom:2px solid #ebebeb;}

#block-views-actes-agenda-block-2{}
#block-views-serveis-block-1{}